<ion-header no-border>
  <ion-toolbar mode="ios" color="tertiary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="close()"><ion-icon color="light" name="ios" name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Resumen</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content text-center no-padding>

  <ion-grid>
    <ion-row style="background: rgba(255,255,255,0.6); margin: 5px auto; border-radius: 10px; box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2)">
      <ion-col size="3">
        <ion-label text-wrap>
          <p>01 JUL</p>
          <p>2019</p>
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label text-wrap>
          <p>Kevin Moreno</p>
          <p>Pago de Cuota</p>
        </ion-label>
      </ion-col>
      <ion-col size="3">
       <ion-label text-wrap>
          <p style="color: red;">$ - 33.30</p>
          <p style="color: lightgreen;">$ + 33.30</p>
        </ion-label> 
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
