ion-title{
    padding: 0px;
    font-size: 16px;
}

@media screen and (orientation: landscape) {
    ion-content {
      width: 100%;
      width:100%;
      transition: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
   }
}

@media screen and (orientation: portrait) {
    ion-content{
      width: 100%;
      width:100%;
      transition-duration: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
}