<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="/menu/chat" mode="md"></ion-back-button>
        <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      </ion-buttons>
      <ion-title color="light">Título</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content no-padding>
  
      <div class="message-wrap" >
  
          <div *ngFor="let mensaje of listaChat" class="message" [class.left]=" mensaje.userId != myId " [class.right]=" mensaje.userId == myId ">
            <div class="msg-detail">
              <div class="msg-info">
                <p>{{mensaje.nombre}}</p>
              </div>
              <div class="msg-content">
                <p class="line-breaker">{{mensaje.contenido}}</p>
              </div>
            </div>
          </div>
      
      </div>
      
      </ion-content>
      
      <ion-footer no-padding no-border translucent="true">
        <div class="input-wrap">
          <ion-item style="--background: transparent;" lines="none">
            <ion-textarea lines="2" placeholder="Escribe aquí tu mensaje" [(ngModel)]="mensaje" (keyup.enter)="sendMsg()"></ion-textarea>
            <ion-button fill="clear" (click)="sendMsg()"><ion-icon [color]="mensaje ? 'black' : 'medium'" name="send" mode="md"></ion-icon></ion-button>
          </ion-item>
        </div>
      </ion-footer>
  