ion-back-button{
    width: 40px;
    margin-left: -10px;
}

ion-buttons{
  width: 75px;
}

ion-title{
  padding: 0px;
}

img{
    width: 35px;
    height: 35px;
    margin: 8px 2px 8px 2px;
}

ion-content{
    --background: #E9E9E9;
}

  .line-breaker {
    white-space: pre-line;
    color: black;
  }

  .input-wrap {
    padding: 2px;
    background: #e9e9e9 !important;
  }

  ion-textarea {
    flex: 1;
    border: 0;
    border: 1px solid #c9c9c9;
    border-style: solid;
    border-radius: 25px;
    background: white;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
  }

  ion-button{
    --border-radius: 50%;  
  }

  ion-item{
    --padding-start: 0px;
  }

  .message-wrap {
    padding: 0 10px;
    .message {
      position: relative;
      padding: 7px 0;
      .user-img {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
      }

      .msg-detail {
        width: 100%;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-info {
          p {
            font-size: .8em;
            color: #888;
          }
        }

        .msg-content {
          position: relative;
          margin-top: 5px;
          border-radius: 5px;
          padding: 8px;
          border: 1px solid #ddd;
          color: #fff;
          width: auto;
          max-width: 80%;
          span.triangle {
            background-color: #fff;
            border-radius: 2px;
            height: 8px;
            width: 8px;
            top: 12px;
            display: block;
            border-style: solid;
            border-color: #ddd;
            border-width: 1px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
          }
        }

      }
    }

    .message.left {
      .msg-content {
        background-color: black;
        float: left;
      }
      .msg-detail {
        padding-left: 5px;
      }
      .user-img {
        left: 0;
      }
      .msg-content {
        color: #343434;
        span.triangle {
          border-top-width: 0;
          border-right-width: 0;
          left: -5px;
        }
      }

    }

    .message.right {
      .msg-detail {
        padding-right: 5px;
        .msg-info {
          text-align: right;
        }
      }
      .user-img {
        right: 0;
      }
      ion-spinner {
        position: absolute;
        right: 10px;
        top: 50px;
      }
      .msg-content {
        background-color: white;
        float: right;
        span.triangle {
          background-color: white;
          border-bottom-width: 0;
          border-left-width: 0;
          right: -5px;
        }
      }

    }

  }