<ion-content no-padding text-center fullscreen>

  <div class="body-content" [ngStyle]="{'height': detail === '1' ? '84%' : '94%' }">

  <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="goBack()"><ion-icon color="medium" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>NOTIFICACIONES</ion-title>
    <ion-buttons slot="end">
        <ion-button fill="clear" (click)="showSB()"><ion-icon mode="ios" color="medium" name="search"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>

    <ion-searchbar class="animated flipInY" *ngIf="search == '1' " color="light" mode="ios" placeholder="Buscar..." (ionChange)="filterxName($event)"></ion-searchbar>

    <ion-item lines="none" *ngFor="let note of lista2">
      <ion-avatar slot="start" (click)="detalle(note.id,note.estado)">
        <div *ngIf="note.estado == '0' " class="circle red"></div>
        <div *ngIf="note.estado == '1' " class="circle gray"></div>
        <div *ngIf="note.estado == '2' " class="circle orange"></div>
        <div *ngIf="note.estado == '3' " class="circle green"></div>
      </ion-avatar>
      <ion-label (click)="detalle(note.id,note.estado)">
        <h3><b>{{note.cod_sol}}</b></h3>
        <p>{{note.fecha}}</p>
      </ion-label>
      <ion-button fill="clear" (click)="extraOption($event,note.id,note.estado)"><ion-icon mode="md" color="medium" name="more"></ion-icon></ion-button>
    </ion-item>
    
  </div>

  <ion-card>
      <ion-card-header (click)="showDetail()">
        <ion-button *ngIf="status === '0' || status === '1' || status === '2' || status === '3' " style="float: left;height: 15px;margin: 0px;" color="tertiary" fill="clear" size="small" class="animated fadeIn" (click)="showAll()">Todo</ion-button>
        <b [ngStyle]="{'color': filterColor}">{{leyenda}}</b>
      </ion-card-header>
      <ion-card-content class="animated fadeInUp" *ngIf="detail == '1' ">
      <ion-grid>
          <ion-row>
            <ion-col [ngClass]="{'active': status === '1'}" (click)="filter('1')">
              <div class="rectangle gray"></div>
            </ion-col>
            <ion-col [ngClass]="{'active': status === '2'}" (click)="filter('2')">
              <div class="rectangle orange"></div>
            </ion-col>
            <ion-col [ngClass]="{'active': status === '3'}" (click)="filter('3')">
                <div class="rectangle green"></div>
            </ion-col>
            <ion-col [ngClass]="{'active': status === '0'}" (click)="filter('0')">
              <div class="rectangle red"></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col [ngClass]="{'active': status === '1'}" (click)="filter('1')">
               En proceso
            </ion-col>
            <ion-col [ngClass]="{'active': status === '2'}" (click)="filter('2')">
                Aprobado
            </ion-col>
            <ion-col [ngClass]="{'active': status === '3'}" (click)="filter('3')">
               Pagado
            </ion-col>
            <ion-col [ngClass]="{'active': status === '0'}" (click)="filter('0')">
               Denegado
            </ion-col>
          </ion-row>
      </ion-grid> 
      </ion-card-content>   
  </ion-card>
</ion-content>
