ion-content{
    --background: #f0f0f0;
}

ion-toolbar{
    border-radius: 10px;
    margin: auto;
    width: 95%;
    margin-top: 5px;

    -webkit-box-shadow: 0px 1px 1px 1px rgba(191,191,191,1);
    -moz-box-shadow: 0px 1px 1px 1px rgba(191,191,191,1);
    box-shadow: 0px 1px 1px 1px rgba(191,191,191,1);
}

.body-content{
    background: transparent !important;
    height: 90%;
    overflow-y: scroll;
}

ion-item{
    margin: 10px 10px -5px 10px;
    --border-radius: 10px;
}

ion-card{
    --background: white;
    border-radius: 15px;
    position: fixed;
    bottom: 0;
    width: 90%;
    margin: 5% 5% 2% 5%;
}

ion-card-header{
    padding: 5px;
}

ion-card-content{
    padding: 0px;
}

.circle{
    width: 36px;
    height: 36px;
    margin: auto;
    border-radius: 50%;
}

.rectangle{
    height: 10px;
    width: 50px;
    margin: auto;
}

.gray{
    background: #E5E5E5;
}

.orange{
    background: #FFC567;
}

.red{
    background: #FF6767;
}

.green{
    background: #76EE79;
}

ion-col{
    font-size: 12px;
}

.active{
    background-color: #F7F7F7;
}