<ion-content text-center no-padding>

  <ion-card class="shadow">
    <ion-card-content>
        <ion-avatar slot="start">
          <img class="logo-skyway animated flip delay-1s" [src]="fotoUser">
        </ion-avatar>
        <ion-label text-wrap>
            <h2>{{nombreUser}}</h2>
            <p *ngIf="lanzador == '1'">Lanzador</p>
            <p *ngIf="lanzador == '2'"></p>
        </ion-label>
    </ion-card-content>
  </ion-card>

  <div class="mis-ingresos shadow">
    <div>
      <ion-row style="margin-top: 10px">
        <ion-col style="border-right: 1px solid #999999;">
          <h4>Ganancia por facturar</h4>
        </ion-col>
        <ion-col>
          <h4>Ganancia por cobrar</h4>
        </ion-col>
      </ion-row>
      <ion-row style="margin: 0px 0px 10px 0px;">
        <ion-col style="border-right: 1px solid #999999;">
          <p>$ {{ganancia_bruta}}</p>
        </ion-col>
        <ion-col>
          <p>$ {{ganancia_neta}}</p>
        </ion-col>
      </ion-row>
    </div>
    <div>
      <ion-button class="information-circle" fill="clear" size="small" (click)="gananciadetailbox()"><ion-icon color="tertiary" name="information-circle"></ion-icon></ion-button>
    </div>
  </div>
  
  <ion-button class="animated infinite pulse delay-1s gradientColor shadow" shape="round" (click)="paymentsModal()"><ion-icon slot="start" color="light" mode="md"  name="bookmarks"></ion-icon>Mis pagos realizados</ion-button>
  <ion-button color="light" class="animated infinite pulse delay-1s shadow" shape="round" (click)="registerModal()"><ion-icon slot="start" color="tertiary" mode="md"  name="person-add"></ion-icon> Inscribir amigos</ion-button>
  <ion-button class="animated infinite pulse delay-1s gradientColor shadow" shape="round" (click)="checkParticipacion()"><ion-icon slot="start" color="light" mode="md" name="cash"></ion-icon>Pagar</ion-button>
  <!-- <ion-button color="light" class="animated infinite pulse delay-1s shadow" shape="round" (click)="goWalletModal()"><ion-icon slot="start" color="tertiary" src="../../../../assets/icon/wallet.svg"></ion-icon> Billetera</ion-button> -->

</ion-content>

