@media screen and (orientation: landscape) {
    ion-content {
      width: 100%;
      height: 100%;
      transition: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
  }

  @media screen and (orientation: portrait) {
    ion-content{
      width: 100%;
      height: 100%;
      transition-duration: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
  }
  
  ion-row{
    width: 100%;
    margin-top: 15px;
  }

  ion-item{
    --background: transparent !important;
  }

  ion-label{
    h2{
      font-size: 12px;
    }
  }

  ion-avatar{
    width: 65px;
    height: 65px;
  }

  ion-card{
    padding: 5px;
    border-radius: 15px;
    --background: linear-gradient(146deg, rgba(196,235,245,1) 7%, rgba(15,142,172,1) 50%);
    height: 75px;
    margin: 10px;
  }

  ion-card-content{
    
    padding: 5px 10px 10px 10px;

    ion-avatar{
      display: inline-block;
      float: left;
      width: 55px;
      height: 55px;
      background: rgba($color: white, $alpha: 0.5);
      line-height: 65px;

      img{
        width: 55px;
        height: auto;
      }
    }

    ion-label{
      display: inline-block;
      float: right;
      padding-bottom: 10px;

      h2,p{
        color: white;
        text-align: right;
        width: 200px;
      }
    }
  }

  .mis-ingresos{
    width: 80% !important;
    margin: 15px auto;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 15px;
    padding: 1px;

    h4{
      color: black;
      font-size: 18px;
      display: inline-block;
      margin: 5px 0px 0px 0px;
    }

    .information-circle{
      display: inline-block;
      max-width: 70px;
      margin: auto;
      margin-top: -15px;

      ion-icon{
        font-size: 30px;
      }
    }
  
    p{
      color: black;
      font-size: 18px;
      font-weight: 750;
    }

  }

  ion-radio-group ion-label{
    padding-left: 10px;
    color: white;
  }

  .input-card{
    color: white;
    text-align: center;
    margin:auto;
    width: 75%; 
    border-bottom: 1px solid white;
  }

  .input-card[type=number]:before {
    content: "$";
  }

  ion-button{
    width: 80% !important;
    height: 50px;
    margin: 10px auto;
    border-radius: 25px;
  }

  .shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .gradientColor{
    --background: linear-gradient(146deg, rgba(106,189,209,1) 10%, rgba(15,142,172,1) 90%);
  }

  .inscripcion{
    --background: white;
    color: #0087A7;
  }

  ion-fab-button{
    transition: 1s;

    ion-icon {
      color: #0087A7;
    } 
    
  }

  @media screen and (max-width: 360px) {
  ion-card-content{

    ion-avatar{
      width: 40px;
      height: 40px;
    }

    ion-label{

      h2,p{
        font-size: 12px;
      }
    }
  }


}