@media screen and (orientation: landscape) {
  ion-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    --background: linear-gradient(146deg, rgba(196,235,245,1) 7%, rgba(15,142,172,1) 93%);
  }
}

@media screen and (orientation: portrait) {
  ion-content{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block; 
    --background: linear-gradient(146deg, rgba(196,235,245,1) 7%, rgba(15,142,172,1) 93%);
  }
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

.logo-skyway{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

ion-label{
  text-align: center;
}

ion-item{
  width: 75% !important;
  margin-left: 12% !important;
  border: 1px solid rgba($color: #b9b9b9, $alpha: 0.5);
  margin-bottom: 10px;
  border-radius: 25px;
}

.user-input{
  color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  --border-radius:25px;
}

.pass-input{
  color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  --border-radius:25px;
}

.forgot-pass{
  color: white;
  font-size: 16px;
}


ion-button {
  --background: #0087A7;
  color:white;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius:50px;
}

.inic{
  font-family: Helvetica;
  text-decoration: underline;
  font-size: 14px;
  color: white;
}

.regis{
  font-family: Helvetica;
  color: white;
}

.rotate{
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 3s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotateY(360deg) } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }