<ion-content text-center no-padding>
  <ion-toolbar transparent>
      <ion-buttons slot="start">
        <ion-back-button mode="md" color="tertiary" defaultHref="/menu/home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
  <br>
  <br>
    <img class="rotate flipInY logo-skyway" src="../../../assets/images/tb_logo.png">
  <br>
  <br>
  
    <ion-item class="user-input" no-lines>
      <ion-input type="text" [(ngModel)]="usuario" name="usuario" placeholder="Codigo de usuario"></ion-input>
    </ion-item>

    <ion-item class="pass-input" no-lines>
      <ion-input type="password" [(ngModel)]="clave" name="clave" placeholder="Contraseña"></ion-input>
    </ion-item>
   
  <br>

  <a class="forgot-pass" (click)="goPage('/recoverypass')">¿Olvidaste tu contraseña?</a>
  
  <br><br>
  
  <ion-button color="tertiary" size="default" shape="round" (click)="login()"> Iniciar Sesión </ion-button>

</ion-content>
