<ion-content fullscreen>
  <ion-slides pager="true" [options]="sliderconfig">
    <ion-slide color="tertiary" *ngFor="let image of listaImages">
      <ion-img class="imageSlider" [src]="image.img"></ion-img>
    </ion-slide>
  </ion-slides>
  <ion-item lines="none">
      <ion-range color="tertiary" mode="md" pin="20" min="0" max="120">
        <ion-icon size="small" slot="start" name="home"></ion-icon>
        <ion-icon slot="end" name="home"></ion-icon>
      </ion-range>
  </ion-item>
</ion-content>
