ion-slide{
    position: relative;
    width:  300px;
    height: 150px;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.imageSlider{
    height: 300px;
    overflow: hidden;
}