<ion-tabs (ionTabsWillChange)="goRouter($event)">

  <ion-fab *ngIf="mode == 'billetera' " horizontal="start" vertical="bottom">
      <ion-fab-button color="tertiary">
        <ion-icon color="light" src="../../../../assets/icon/wallet.svg"></ion-icon>
      </ion-fab-button>
  </ion-fab>

  <ion-fab style="margin-left: -28%;" *ngIf="mode == 'cliente' " horizontal="center" vertical="bottom">
      <ion-fab-button color="tertiary">
        <ion-icon color="light" mode="ios" name="contacts"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top" style="margin: 0px 0px 55px 0px;">
        <ion-fab-button (click)="goPage('red')"><ion-icon color="tertiary" mode="ios" name="globe"></ion-icon></ion-fab-button>
      </ion-fab-list>
  </ion-fab>
   
  <ion-fab *ngIf="mode == 'bkhome' " horizontal="center" vertical="bottom">
      <ion-fab-button color="tertiary">
        <ion-icon color="light" name="home"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top" style="margin: 0px 0px 55px 0px;">
          <ion-fab-button (click)="backEleven()"><ion-icon color="tertiary" mode="ios" name="log-out"></ion-icon></ion-fab-button>
      </ion-fab-list>
  </ion-fab>

  <ion-fab style="margin-left: 12%;" *ngIf="mode == 'ganancia' " horizontal="center" vertical="bottom">
      <ion-fab-button color="tertiary"><ion-icon color="light" name="trending-up"></ion-icon></ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="mode == 'cobrar' " horizontal="end" vertical="bottom">
      <ion-fab-button color="tertiary"><ion-icon name="cash"></ion-icon></ion-fab-button>

      <ion-fab-list side="top" style="margin: 0px 0px 55px 0px;">
          <ion-fab-button (click)="goPage('buzon')"><ion-icon color="tertiary" mode="ios" name="archive"></ion-icon></ion-fab-button>
          <ion-badge *ngIf=" notification > 0 " color="warning">{{notification}}</ion-badge>
          <!-- <ion-fab-button (click)="goYoutube()"><ion-icon color="tertiary" name="logo-youtube"></ion-icon></ion-fab-button> -->
      </ion-fab-list>

  </ion-fab>

  <ion-tab-bar #elevenBar id="elevenBar" slot="bottom">
 
    <ion-tab-button tab="billetera">
        <ion-icon mode="ios" src="../../../../assets/icon/wallet.svg"></ion-icon>
      <div *ngIf="mode != 'billetera' ">  
        <ion-label>Billetera</ion-label>
      </div>  
    </ion-tab-button>

    <ion-tab-button tab="cliente">
        <ion-icon mode="ios" name="contacts"></ion-icon>
        <div *ngIf="mode != 'cliente' ">  
            <ion-label>Clientes</ion-label>
        </div>
    </ion-tab-button>

    <ion-tab-button tab="bkhome">
        <ion-icon mode="md" name="home"></ion-icon>
      <div *ngIf="mode != 'bkhome' ">  
        <ion-label>Home</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="ganancia">
      <ion-icon mode="md" name="trending-up"></ion-icon>
      <div *ngIf="mode != 'ganancia' ">  
          <ion-label>Ganancia</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="cobrar">
        <ion-icon mode="ios" name="cash"></ion-icon>
      <div *ngIf="mode != 'cobrar' ">    
        <ion-label>Cobrar</ion-label>
      </div>  
    </ion-tab-button>

  </ion-tab-bar>
 
</ion-tabs>
