ion-tab-button{
    --color: #bababa;
    --color-selected: #0087A7;
}

ion-tab-bar{
    box-shadow: 0px -3px 5px -1px rgba(0,0,0,0.15)
}

ion-icon{
    transition: 2s;
}

ion-fab{
  margin-bottom: -5px;
  
  ion-icon{
    -webkit-animation:spin 1s linear;
    -moz-animation:spin 1s linear;
    animation:spin 1s linear;
  }
}

  @-moz-keyframes spin { 100% { -moz-transform: rotateY(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotateY(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }