ion-title{
    padding: 0px;
    font-size: 16px;
}

ion-content{
  --background: transparent;
}

.participacion-card{
  width: 90%;
  height: 170px;
  --background: url('../../assets/images/single_home.jpeg') no-repeat center center / cover;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
  border-radius: 5px;

    .tag-option{
      background: rgba(255,255,255, 0.8);
      font-size: 18px;
      font-weight: 650;
      height: 35px;
      line-height: 35px;
    }
}

.pago-restante{
  width: 90%;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  --background: white;
  margin: auto;
  margin-bottom: 15px;
  padding: 0px;

  ion-card-header{
    padding: 0px;
    margin: auto;

    p{
      margin: 10px;
    }
  }

  ion-card-content{
    padding: 5px;

    .monto-restante{
      font-size: 8vw;
      border-bottom: 0.5px solid #F0F0F0;
      margin-bottom: 10px;
    }

    .detalle-card{

      .p1{
        font-size: 11px;
        color: black;
        font-weight: 500;
        text-align: left;
      }

      .p2{
        font-size: 11px;
        color: black;
        font-weight: 500;
        text-align: right;
      }
    }
  }
}

ion-select{
  min-width: 90%;
  margin: auto;
  text-align: center;
  font-weight: 650;
  border: 1px solid black;
}

.checkbox-restante{
  width: 90% !important;
  margin: auto;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
  background: white;
}

.help-circle{
  font-size: 3.5vw;
  text-align: justify;
  margin: 5px 10px 10px 10px;
}

.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ion-footer{
  background: transparent;
  display: flex;

  ion-button{
    width: 48% !important;
    margin: 1%;
    font-size: 3.5vw;
    --border-radius: 25px;

    ion-icon{
      color: white;
    }
  }
}


@media screen and (max-width: 360px) {
  .participacion-card{
    margin: 10px auto 30px auto;
    height: 120px;
    background-position: bottom;
  }

  .pago-restante{
    ion-card-header{
      p{
        margin: 0px;
      }
    }
  }
}

