<ion-header no-border>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="close()"><ion-icon color="light" name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Detalle de pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center no-padding>

  <ion-slides pager="true">
    <ion-slide *ngFor="let tag of listaParticipacion; let i = index">
      <ion-card class="participacion-card" (click)="getParticipacionId(tag.id, tag)">
         <p class="tag-option" >{{tag.descripcion}}</p>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-card *ngIf="selectedItem != '' " class="pago-restante">
    <ion-card-header>
      <p>Saldo restante</p>
      <p style="font-size: 16px;font-weight: 700;color: red;">{{participacion}}</p>
    </ion-card-header>
    <ion-card-content>
      <p class="monto-restante">$ {{monto_por_pagar}}</p>
      <div class="detalle-card">
        <ion-row>
          <ion-col>
              <p style="font-size: 16px;font-weight: 700;color: gray;">Monto a pagar</p>
            <!-- <p class="p1">Monto a pagar</p> -->
            <!-- <p class="p1">{{fecha_vence}}</p> -->
          </ion-col>
          <ion-col>
            <p style="font-size: 16px;font-weight: 700;color: gray;">{{monto_a_pagar}}</p>
            <!-- <p class="p2">Último pago realizado</p> -->
            <!-- <p class="p2">{{fecha_ultim_pago}}</p> -->
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="checkbox-restante" style="padding: 5px;" *ngIf="selectedItem != '' ">
    <ion-label position="float">Seleccione Nroº de cuotas</ion-label>
    <ion-item lines="none">
      <ion-select interface="action-sheet" (ionChange)="getCuotas($event)">
        <ion-select-option  *ngFor="let cuota of lista_cuotas"  value="{{cuota.val}}">{{ cuota.desc }}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  
  <!-- <div class="div-participacion" *ngIf="listaParticipacion.length == 0">
    <ion-label><p class="participacion-label">No cuentas con una participación,</p></ion-label>

    <ion-row class="details-tags">
        <ion-col class="tag-wrapper">
          <span class="item-tag">
            <ion-button color="dark" fill="clear" size="small">Adquirir participación </ion-button>
          </span>
        </ion-col>
    </ion-row>
  </div> 

  <div class="div-participacion" *ngIf="listaParticipacion.length > 0">
    <ion-label><p class="participacion-label">Seleccione su participación :</p></ion-label>

    <ion-row class="details-tags">
        <ion-col class="tag-wrapper" *ngFor="let tag of listaParticipacion; let i = index" (click)="selected(tag.id)">
          <span class="item-tag">
            <p class="tag-option" [class.active]="selectedButton == tag.id">{{tag.descripcion}}</p>
          </span>
        </ion-col>
    </ion-row>
  </div>  -->
  <br>

  <!-- <ion-item class="checkbox-restante" *ngIf="selectedItem != '' " lines="none">
    <ion-checkbox color="primary" mode="md" slot="start" (ionChange)="checkedPayRemaining($event)"></ion-checkbox>
    <ion-label *ngIf="monto_por_pagar_url == 0 ">Pagar total</ion-label>
    <ion-label *ngIf="monto_por_pagar_url != 0 ">Pagar saldo restante</ion-label>
  </ion-item> -->

  <div *ngIf="selectedItem != '' ">
    <ion-item class="checkbox-restante" *ngIf="monto_por_pagar_url == 0" lines="none">
        <p class="help-circle"> * Usted aún no ha realizado el pago de ninguna cuota, tiene la opción de pagar el total por el cual se le cobrará $ 3696.00, en caso optara por la otra opción (pago en cuotas) pagará la suma de $ 3996.00</p>
    </ion-item>
  </div>

    <!-- <ion-col text-center>
      <ion-card>
        <ion-card-header class="restante">Monto restante</ion-card-header>
        <ion-card-content class="por_pagar">$ {{monto_por_pagar}}</ion-card-content>
      </ion-card>
    </ion-col> -->
    <!-- <ion-col text-center>
      <ion-card>
        <ion-card-header class="cancelar">Monto a cancelar</ion-card-header>
        <ion-card-content class="a_pagar">$ {{monto_a_pagar}}</ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <br> -->

  <ion-button class="shadow" *ngIf="selectedItem == '' " color="light" ><ion-icon color="primary" mode="md" name="arrow-up" slot="start"></ion-icon> Selecciona una participación <ion-icon color="primary"   mode="md"  name="arrow-up" slot="end"></ion-icon></ion-button>

</ion-content>

<ion-footer no-border>
  <ion-button *ngIf="selectedItem != '' " color="primary" (click)="goWallet()"><ion-icon slot="start" src="../../assets/icon/wallet.svg"></ion-icon> Mis ganancias</ion-button>
  <ion-button *ngIf="selectedItem != '' " color="primary" class="item-right" (click)='open()'>Con tarjeta <ion-icon slot="end" src="../../assets/icon/credit.svg"></ion-icon> </ion-button>
</ion-footer>
