<ion-content text-center no-padding>

  <div class="header">

  <ion-row>
      <ion-col size="9">
        <ion-searchbar color="light" mode="ios" animated="true" placeholder="Buscar por nombre..." [(ngModel)]="searchTerm" (ionChange)="searchList()"></ion-searchbar>
      </ion-col>
      <ion-col size="3">
        <img class="logo-skyway" width="50" height="50" src="../../../assets/images/tb_logo.png">
      </ion-col>  
  </ion-row>

  </div>

  <div class="lista">
      <ion-row>
        <ion-col class="animated zoomInDown" *ngFor="let cliente of listaClientes; let i=index" size="6">
          <ion-card [ngStyle]="{'background': isDetailShown(i) ? 'rgb(225,242,245)' : 'rgb(255,255,255,0.60)'}">
            <ion-card-header>
              <ion-item lines="none" no-padding (click)="toggleDetail(i)" [ngClass]="{active: isDetailShown(i)}">
                <!-- <ion-avatar slot="start">
                  <ion-img [src]="cliente.foto"></ion-img>
                </ion-avatar> -->
                <ion-label color="dark" text-wrap>
                  {{cliente.fullname}} 
                </ion-label>
                <ion-icon mode="md" slot="end" [name]="isDetailShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
              </ion-item>
            </ion-card-header>
            <ion-card-content *ngIf="isDetailShown(i)">
                <ion-item lines="none" no-padding>
                  <ion-label>
                    <ion-icon color="dark" name="card" slot="start"></ion-icon>
                    {{cliente.dni}}
                  </ion-label>
                </ion-item>
                <ion-item lines="none" no-padding>
                  <ion-label style="color: #0087A7; text-decoration: underline;" (click)="call(cliente.cellphone)">
                    <ion-icon color="dark" name="call" slot="start"></ion-icon>
                    {{cliente.cellphone}}
                  </ion-label>
                </ion-item>
                <ion-item lines="none" no-padding>
                  <ion-label>
                    <ion-icon color="dark" name="at" slot="start"></ion-icon>
                    {{cliente.email}}
                  </ion-label>
                </ion-item>    
            </ion-card-content>
            <ion-button color="dark" style="float: right" fill="clear" size="small" (click)="participacionCliente(cliente.iduser)">Detalle<ion-icon color="dark" mode="ios" name="arrow-forward"></ion-icon></ion-button>
          </ion-card>
          </ion-col>
      </ion-row>
  </div>

</ion-content>

