<ion-header no-border>
  <ion-toolbar color="tertiary">
    <ion-title>Resumen clientes</ion-title>
    <ion-buttons slot="start">
        <ion-button fill="clear" (click)="close()" ><ion-icon mode="md" color="light" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card *ngFor="let participacion of listaParticipaciones,let i = index" class="animated bounceInRight">
        <ion-card-header>
          <ion-label>
              <p style="float: left">{{participacion.descripcion}}</p>
              <p style="float: right">${{participacion.monto_total}}</p>
            </ion-label>
        </ion-card-header>
        <ion-card-content>
          <canvas baseChart style="width: 100% !important; height: auto;"
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [legend]="chartLegend"
                      [colors]="chartColor1"
                      [chartType]="doughnutChartType"
                      [options]="DonutOptions"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
          </canvas>
        </ion-card-content>  
      </ion-card>

</ion-content>
