ion-title{
    padding: 0px;
    font-size: 16px;
}

@media screen and (orientation: landscape) {
    ion-content {
      width: 100%;
      width:100%;
      transition: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
  }

  @media screen and (orientation: portrait) {
    ion-content{
      width: 100%;
      width:100%;
      transition-duration: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
}

ion-card{
  background: rgba(255,255,255,0.7);
  margin: 0px;
  border-radius: 15px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}

ion-card-header{
  background: rgba(240,240,240,0.5);
  padding: 20px,;

  p{
    color: black;
  }
}