<ion-header >
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>11 MILLION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center no-padding>

  <ion-searchbar mode="ios" debounce="500" placeholder="Buscar..." ></ion-searchbar>

  <div [ngSwitch]="option">

  <div *ngIf="option == 'pilares' "> 

  <ion-grid>
    <ion-row nowrap>
      <ion-col class="drop-in" *ngFor="let pilar of listaPilares">
        <ion-img class="pilar-img" [src]="pilar.img" (click)="goDetail(pilar.id)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item class="pop-in" lines="none" *ngFor="let chat of listaChatPilares" (click)="goChat(chat.id)" detail>
      <ion-avatar slot="start">
        <ion-img class="chat-img" [src]="chat.img"></ion-img>
      </ion-avatar>
      <ion-label>
        <h4>{{chat.nombre}}</h4>
        <p>{{chat.last_message}}</p>
      </ion-label>
      <ion-note slot="end" color="medium">{{chat.time}}</ion-note>
    </ion-item>
  </ion-list>
  </div>

  <div *ngIf="option == 'personal' "> 
      <ion-list>
          <ion-item class="pop-in" lines="none" *ngFor="let chat of listaChatPersonal" (click)="goChat(chat.id)">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-avatar slot="start">
              <ion-img class="chat-img" [src]="chat.img"></ion-img>
            </ion-avatar>
            <ion-label>
              <h4>{{chat.nombre}}</h4>
              <p>{{chat.last_message}}</p>
            </ion-label>
            <ion-note slot="end" color="medium">{{chat.time}}</ion-note>
          </ion-item>
      </ion-list>
  </div>  

  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark" size="small"><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>

</ion-content>
<ion-footer>
    <ion-toolbar color="light">
        <ion-segment mode="md" [(ngModel)]="option" (ionChange)="segmentChanged($event)">
          <ion-segment-button mode="md" value="pilares">
            <ion-icon color="dark" name="briefcase"></ion-icon>
          </ion-segment-button>
          <ion-segment-button mode="md" value="personal">
            <ion-icon color="dark" name="contact"></ion-icon>
          </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>
