ion-content{
    transition: 1s;
}

ion-row{
    overflow-x: scroll !important;
}

.pilar-img{
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

ion-item:hover{
    --background: #c9c9c9;
    --border-radius:15px;
    margin: 1px 5px 1px 5px;
}

.bounce {
    animation: bounce linear 0.8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

.drop-in {
    animation: drop_in 0.5s 0.0625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}

.pop-in {
    animation: pop-in 0.65s;
}

ion-segment{
    height: 40px;
}