<ion-content class="animated bounceIn delay-1s" force-overscroll="false" text-center>
  <gl-background-video muted="true" src="../../../assets/video/video.mp4" poster=""></gl-background-video>
  
  <ion-fab *ngIf="show_login == 0" class="animated bounce infinite slow" horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" (click)="showLogin()">
      <ion-icon src="../../../assets/icon/eleven_icon.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="show_login != 0" class="animated slideInUp login-container">
    <ion-fab class="animated bounceInUp" style="margin-top: -30px;" vertical="top" horizontal="center">
      <ion-fab-button color="dark" (click)="showLogin()">
        <ion-icon src="../../../assets/icon/eleven_icon_white.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab> 

  <ion-card *ngIf="form == 'login' " class="animated flipInX slow">     
      <ion-item class="input-data" lines="none">
        <ion-icon color="medium" mode="md" slot="start" name="contact"></ion-icon>
        <ion-input color="medium" type="text" [(ngModel)]="usuario" name="usuario" placeholder="Correo / Nro Celular"></ion-input>
      </ion-item>

      <ion-item class="input-data" lines="none">
        <ion-icon color="medium" mode="md" slot="start" name="lock"></ion-icon>
        <ion-input color="medium" type="password" [(ngModel)]="clave" name="clave" placeholder="Contraseña"></ion-input>
      </ion-item>

      <ion-item lines="none">
          <ion-label color="dark">Mantener sesión iniciada</ion-label>
          <ion-checkbox color="dark" mode="md" slot="start" [(ngModel)]="ischecked" checked="true"></ion-checkbox>
      </ion-item>

      <ion-button shape="clear" color="dark" (click)="login()"> Iniciar Sesión </ion-button>
      <br>
      <ion-button shape="clear" color="dark" (click)="showSignup()"> Registrarme </ion-button>
  </ion-card>

  <ion-card *ngIf="form == 'register' " class="animated flipInY fast">     
      <ion-item class="input-data" lines="none">
        <ion-icon color="medium" mode="md" slot="start" name="contact"></ion-icon>
        <ion-input color="medium" type="text" placeholder="Nombre Completo"></ion-input>
      </ion-item>
      <ion-item class="input-data" lines="none">
        <ion-icon color="medium" mode="md" slot="start" name="mail"></ion-icon>
        <ion-input color="medium" type="email" placeholder="Correo"></ion-input>
      </ion-item>
      <ion-item class="input-data" lines="none">
        <ion-icon color="medium" mode="md" slot="start" name="call"></ion-icon>
        <ion-input color="medium" type="tel" placeholder="Número Celular"></ion-input>
      </ion-item>
      <ion-item class="input-data" lines="none">
        <ion-icon color="medium" mode="md" slot="start" name="lock"></ion-icon>
        <ion-input color="medium" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>

      <ion-button shape="clear" color="dark" (click)="showSignup()"> Volver </ion-button>
      <ion-button shape="clear" color="dark"> Registrarme </ion-button>
  </ion-card>
  </div>

</ion-content>



<!-- <ion-content class="animated bounceIn delay-1s" fullscreen text-center no-padding>
    <br> 
    <br>  
      <img class="logo-eleven animated flip delay-3s" src="../../../assets/images/logo_eleven_white.png">
    <br>
    <br>
    
      <ion-item lines="none">
        <ion-input type="text" [(ngModel)]="usuario" name="usuario" placeholder="Correo / Código Eleven"></ion-input>
      </ion-item> 
     
      <ion-item lines="none">
       <ion-input type="password" [(ngModel)]="clave" name="clave" placeholder="Contraseña"></ion-input>
     </ion-item> 
  
     <ion-item lines="none">
      <ion-label color="light">Mantener sesión iniciada</ion-label>
      <ion-checkbox color="dark" mode="md" slot="start" [(ngModel)]="ischecked" checked="true"></ion-checkbox>
    </ion-item>
     
     <ion-button color="light" fill="clear" (click)="goPage('/recoverypass')">¿Olvidaste tu clave?</ion-button>

     <br> 
  
     <ion-button class="animated heartBeat delay-5s" color="light" size="small" shape="round" (click)="login()"> Iniciar </ion-button>
  
     <br>
     <br>
     
    <ion-button color="light" fill="outline" size="small" (click)="goPage()">Registrarme</ion-button>
  
    <div style="position:absolute;bottom:0;left: 0;right: 0;">
      <ion-button color="light" style="text-decoration: underline;font-weight: 600;" fill="clear" (click)="modalTerms()">Términos & Condiciones</ion-button>
    </div>

</ion-content> -->