ion-content{
  --background:#e9e9e9;
}

ion-fab{
  box-shadow: 0px 20px 15px -12px rgba(0,0,0,0.5);
  border-radius: 50%;
}

.login-container{
  width: 100% !important;
  position: absolute;
  bottom: 0px;
}

ion-card{
  --background: white;
  border-radius: 25px;
  padding: 40px;
}

ion-card-header{
  padding: 0px;
}

ion-card-content{
  padding: 0px;
}


.input-data{
  border-radius: 15px;
  --border-radius: 15px;
  border: 1px solid black;
  margin: 10px auto;
  --padding-start: 5px;
}

.input-data:hover{
  --background: rgba(0,0,0,0.9);
}

ion-button{
  --border-radius: 15px;
  border-radius: 15px;
  border: 1px solid black;
}