<ion-content text-center no-padding>

    <ion-slides #slider [options]="slideOpts" (ionSlideDidChange)="func($event)">
      <ion-slide>
        <ion-card>
          <div class="border-line"></div>
          <ion-card-header>
            <ion-icon [color]="currentIndex == 0 ? 'tertiary' : 'medium' " mode="ios" name="contacts"></ion-icon>
            <p><b>{{clientes}}</b>/1000</p>
          </ion-card-header>
          <ion-card-content>
            <canvas baseChart style="width: 100% !important; height: auto;"
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [legend]="chartLegend"
                        [colors]="chartColor1"
                        [chartType]="doughnutChartType"
                        [options]="halfDonutOptions"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
            </canvas>
          </ion-card-content>  
        </ion-card>
        <div class="bottom-title">
          <p>Resume de Clientes</p>
        </div>
      </ion-slide>
      
      <ion-slide>
          <ion-card>
            <div class="border-line"></div>
            <ion-card-header>
              <ion-icon [color]="currentIndex == 1 ? 'tertiary' : 'medium' " mode="ios" name="globe"></ion-icon>
              <p>{{clientes}} - {{red}}</p>
            </ion-card-header>
            <ion-card-content>
              <canvas baseChart style="width: 100% !important; height: auto;"
                          [data]="pieChartData"
                          [labels]="pieChartLabels"
                          [colors]="chartColor1"
                          [chartType]="pieChartType"
                          [options]="pieOptions"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)">
              </canvas>

            </ion-card-content>  
          </ion-card>
          <div class="bottom-title">
            <p>Resumen de Referidos</p>
          </div>
      </ion-slide>  

      <ion-slide>
          <ion-card>
            <div class="border-line"></div>
            <ion-card-header>
              <ion-icon [color]="currentIndex == 2 ? 'tertiary' : 'medium' " mode="ios" name="trending-up"></ion-icon>
              <p>Ganancias</p>
            </ion-card-header>
            <ion-card-content>
              <canvas baseChart style="padding:5px; width: 100%;"
                            [data]="lineChartData"
                            [labels]="lineChartLabels"
                            [legend]="lineChartLabels"
                            [colors]="chartColor2"
                            [chartType]="lineChartType"
                            [options]="lineChartOptions"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
              </canvas>
            </ion-card-content>  
          </ion-card>
          <div class="bottom-title">
            <p>Resumen de Ganancias</p>
          </div>
        </ion-slide>  
    </ion-slides>

</ion-content>
