@media screen and (orientation: landscape) {
    ion-content {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width:100%;
      --background: url('../../../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
  }
  
  @media screen and (orientation: portrait) {
    ion-content{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width:100%; 
      --background: url('../../../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
  }

  ion-slides{
    margin-top: 30%;
  }

  ion-slide{
    display: block;
  }
  
  ion-row{
    width: 100%;
    margin-top: 15px;
  }

  ion-card{
    --background: rgba(255, 255, 255, 0.7);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    margin: 25px 25px 0px 25px;
    height: 300px;
    overflow: inherit;
    border-radius: 0px;
  }

  .border-line{
    width: 100%;
    height: 5px;
    background: #0087A7;
  }

  .bottom-title{
    width: 60%;
    margin: 0px auto 10px auto;
    background: #0087A7;
    height: 50px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 10px 10px;

    p{
      line-height: 50px;
      color: white;
      font-size: 14px;
      margin: 0px;
      padding: 0px;
    }
  }

  ion-card-header{
    padding: 10px;
    margin: -40px auto 20px auto;
    width: 30%;
    background: white;

    p{
      text-align: center;
      margin: 0px;
      font-size: 16px;
    }

    ion-icon{
      text-align: center;
      font-size: 80px;
    }

  }

  ion-card-content{
    padding: 0px;
  }

  h4,p{
    color: black;
  }

  ion-icon{
    color:  #0087A7;
  }

  ion-fab-button{
    transition: 1s;
  }

  .shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }