<ion-header no-border>
    <ion-toolbar>
      <ion-title>REGISTRAR</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" slot="icon-only" (click)="close()"><ion-icon name="close"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content text-center padding>
  
    <ion-item lines="none">
     <ion-label position="floating">Nombres</ion-label>
     <ion-input type="text" [(ngModel)]="nombre" name="nombre"></ion-input>
    </ion-item>
  
    <ion-item lines="none">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" [(ngModel)]="apellido" name="apellido"></ion-input>
    </ion-item>
  
    <ion-item lines="none">
      <ion-label position="floating">DNI</ion-label>
      <ion-input type="number" [(ngModel)]="dni" name="dni"></ion-input>
    </ion-item>
  
    <ion-item lines="none">
      <ion-label position="floating">Celular</ion-label>
      <ion-input type="tel" [(ngModel)]="celular" name="celular"></ion-input>
    </ion-item>
  
    <ion-item lines="none">
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" [(ngModel)]="correo" name="correo"></ion-input>
    </ion-item>  
  
    <ion-button color="dark" class="registrar" size="small" shape="round" (click)="registerInvitado()">Registrar</ion-button>
  
  </ion-content>
  