  ion-content{
    transition: 1s;
  }

  ion-title{
    color:  #000000;
  }
  
  ion-button{
    color:  #000000;
  }
  
  .label-floating.sc-ion-label-ios-h, .label-floating.sc-ion-label-md-h{
    color:  #000000;
  }
  
  ion-input{
    color:  #000000;
    border-bottom: 1px solid #000000;
  }
  
  .registrar{
    --background: #000000;
    color: white;
    margin: 10px 0px 0px 0px;
  }