<!-- <ion-content fullscreen>
     <video id="videoBg" autoplay loop src="../../assets/video/video.mp4"></video> 
    
    <video id="videoBg" autoplay muted loop>
        <source src="../../assets/video/video.mp4" type="video/mp4">
    </video>

</ion-content>      -->

<div id="circularMenu" class="circular-menu">

        <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
          <p>11 Million</p>
        </a>
      
        <div class="items-wrapper">
          <a href="#" class="menu-item fa fa-facebook"></a>
          <a href="#" class="menu-item fa fa-twitter"></a>
          <a href="#" class="menu-item fa fa-google-plus"></a>
          <a href="#" class="menu-item fa fa-linkedin"></a>
        </div>
      
</div>