ion-menu{
    --width: 25% !important;  
}

ion-content{
    --background:black;
}

ion-avatar{
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0.5);
    border: 1px solid white;
    //box-shadow: 0px 0px 9px 5px rgba(255,255,255,0.3);
    border-radius: 50px;
    margin: auto;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    img{
        box-shadow: 0px 0px 9px 5px rgba(255,255,255,0.3);
    }
}

.profile:hover ion-avatar {
    transform: rotateY(360deg);
}

ion-row{
    
    ion-col{
        padding: 0px;
    }
    .icon-row{
        color: white;
        font-size: 30px;
    }
    .label-row{
        color: white;
        font-size: 11px;
    }
}

  
  @-moz-keyframes spin { 100% { -moz-transform: rotateX(360deg) } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotateX(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotateX(360deg); transform:rotateX(360deg); } }