<ion-split-pane>
  <ion-menu side="end" type="reveal" swipe-gesture="true" menuId="profileMenu" (ionWillClose)="restartMenu()">
        <ion-content>
            <ion-grid class="profile" style="margin: 10px;">
                <ion-row>
                    <ion-col text-center (click)="changeOptions()">
                        <ion-avatar class="rotate">
                            <img [src]="fotoUser">
                        </ion-avatar>
                    </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col text-center>
                    <ion-label class="label-row">{{nameUser}}</ion-label>
                  </ion-col>
                </ion-row>
                  <!-- <p>{{nameUser}}</p>
                  <p>{{emailUser}}</p> -->
                  <!-- <ion-button style="float: right; margin: -10px 0px 0px 0px;" fill="clear" (click)="changeOptions()"><ion-icon mode="ios" color="light" name="arrow-down" [name]="arrowfunc" class="arrowfunc"></ion-icon></ion-button>-->
            </ion-grid>
            <ion-grid class="animated jackInTheBox" *ngFor="let p of pages" (click)="goPage(p.url)">
                <ion-row>
                  <ion-col text-center>
                    <ion-icon class="icon-row" [name]="p.icon" mode="ios"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col text-center>
                    <ion-label class="label-row">{{p.title}}</ion-label>
                  </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid class="animated jackInTheBox" *ngIf="arrowfunc == 'arrow-up' " (click)="shareWith()">
                <ion-row>
                  <ion-col text-center>
                    <ion-icon class="icon-row" name="share" mode="md"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col text-center>
                    <ion-label class="label-row">Compartir</ion-label>
                  </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid class="animated jackInTheBox" *ngIf="arrowfunc == 'arrow-up' " (click)="logout()">
                <ion-row>
                  <ion-col text-center>
                    <ion-icon class="icon-row" name="log-out" mode="ios"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col text-center>
                    <ion-label class="label-row">Salir</ion-label>
                  </ion-col>
                </ion-row>
            </ion-grid>

            <ion-fab horizontal="center" vertical="bottom">
              <ion-fab-button (click)="goPage('/menu/negocio/triplebank/tabs/tabs/bkhome')">3BK</ion-fab-button>
            </ion-fab>

        </ion-content>
  </ion-menu>
<ion-router-outlet main></ion-router-outlet>
</ion-split-pane>
