<ion-header no-border>
    <ion-toolbar mode="ios" color="tertiary">
        <ion-buttons slot="start">
            <ion-button fill="clear" slot="icon-only" (click)="close()"><ion-icon color="light" name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
      <ion-title>Resumen de participación</ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content text-center no-padding>

  <ion-item-group *ngFor="let lista of cuotasData">
    <ion-item-divider sticky="true">
      <ion-label class="title">{{lista.descripcion}}</ion-label>
      <ion-label class="amount">$ {{lista.monto_total}}</ion-label>
    </ion-item-divider>
                
    <ion-card *ngFor="let cuota of lista.datos" class="animated bounceInRight">
      <ion-item lines="none" no-padding>
        <ion-label>
          <h1><ion-icon color="tertiary" mode="md" name="alarm" slot="start"></ion-icon> {{cuota.fecha}}</h1>
          <h1><ion-icon color="tertiary" mode="md" name="logo-usd" slot="start"></ion-icon> {{cuota.monto}}</h1>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-item-group>


  <ion-card *ngIf="arrowfunc == 'arrow-dropdown'" class="detailed-card">

  </ion-card>

  <div class="footer">
    <ion-button color="tertiary" shape="round" size="small" expand="full" (click)="showDetail()"><ion-icon color="light" slot="icon-only" mode="md" name="arrow-dropup" [name]="arrowfunc" class="arrowfunc"></ion-icon></ion-button>
  </div>

</ion-content>
