ion-title{
    padding: 0px;
    font-size: 16px;
}

@media screen and (orientation: landscape) {
    ion-content {
      width: 100%;
      width:100%;
      transition: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
   }
}

@media screen and (orientation: portrait) {
    ion-content{
      width: 100%;
      width:100%;
      transition-duration: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
}

ion-item-divider{
    --padding-start: 0px;
    --background: white !important;
    margin: 0px 0px 10px 0px;
    border-bottom: 2px solid #f0f0f0;
    padding: 10px;
}

ion-card{
    margin: 5px auto 5px auto;
    border-radius: 15px;
    width: 90%;
    background: rgba(255, 255, 255, 0.8);
}

ion-item-group{
    height: 95%;
    overflow-y: scroll;
    position: unset;
    flex: 1;
}

ion-item{
    padding: 0px;
    --background: transparent !important;
}

.title{
    left: 0px;
    position: absolute;
    bottom: 1px;
    color: black;
    font-weight: 550;
    padding-left: 10px;
}

.amount{
    right: 0px;
    position: absolute;
    bottom: 1px;
    font-weight: 800;
    padding-right: 10px;
}

h1{
    font-size: 16px;
    padding-left: 10px;
}

.detailed-card{
    position: absolute;
    bottom: 30px;
    --background: white;
    padding: 20px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.footer{
    position: absolute;
    bottom: -2px;
    width: 100%;

    ion-button{
        margin: 0px;
    }
}