// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #0087A7;
  --ion-color-primary-rgb: 0, 135, 167;
  --ion-color-primary-contrast: #e1f2f5;
  --ion-color-primary-contrast-rgb: 225, 242, 245;
  --ion-color-primary-shade: rgb(57, 146, 167);
  --ion-color-primary-tint: rgb(68, 147, 165);

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #0087A7;
  --ion-color-tertiary-rgb: 0, 135, 167;
  --ion-color-tertiary-contrast: #e1f2f5;
  --ion-color-tertiary-contrast-rgb: 225, 242, 245;
  --ion-color-tertiary-shade: rgb(9, 102, 122);
  --ion-color-tertiary-tint: rgb(12, 90, 107);

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 0, 0, 0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  $text-input-highlight-color-valid:transparent;
  $text-input-highlight-color-invalid:transparent;

  @keyframes wobble {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    15% {
        transform: translate(-25px, 0px) rotate(-5deg);
    }
    30% {
        transform: translate(20px, 0px) rotate(3deg);
    }
    45% {
        transform: translate(-15px, 0px) rotate(-3deg);
    }
    60% {
        transform: translate(10px, 0px) rotate(2deg);
    }
    75% {
        transform: translate(-5px, 0px) rotate(-1deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
  }

  @keyframes bounce {
    0% {
        transform: translate(0px, 0px);
    }
    15% {
        transform: translate(0px, -25px);
    }
    30% {
        transform: translate(1px, 0px);
    }
    45% {
        transform: translate(1px, -15px);
    }
    60% {
        transform: translate(1px, -1px);
    }
    75% {
        transform: translate(1px, -5px);
    }
    100% {
        transform: translate(1px, 0px);
    }
}

@keyframes drop_in {
    from {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pop-in {
    0% {
        transform: scale(0); 
    }
    45% {
        transform: scale(0);
    }
    90% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

}
