<ion-content fullscreen text-center no-padding>
    <ion-toolbar mode="ios">
        <ion-title>TERMINOS Y CONDICIONES TRIPLE BK Y CONSORCIADOS</ion-title>
    </ion-toolbar>

    <h1>Te damos la bienvenida al Consorcio del Proyecto “Tren de Alta velocidad”</h1>

    <p>La empresa <b>CORPORACION ZOLLA S.A.C.</b>, celebra un contrato de colaboración empresarial con la empresa 
    <b>TRIPLE BK S.A.C.</b>  a fin que ésta última obtenga un capital de inversión a efectos de poder desarrollar 
    estudios de factibilidad relacionados con la creación de un sistema de interconexión de vía rápida a 
    desarrollarse en una primera etapa dentro del Proyecto Inmobiliario “Nueva Lima”, dentro de la Provincia
     de Lima, dentro del respeto a las normas legales peruanas. En ese sentido, <b>TRIPLE BK</b> se encargaría de la
      ejecución y administración de dicho proyecto, en adelante <b>EL NEGOCIO</b>.</p>
    <p>Este Consorcio será extendido solo a los miembros de Eleven Million Project, empresa identificada con RUC No. 
        20604660514.</p>
    <p>Con la aceptación del presente, acepto los términos y condiciones siguientes:</p>
    <p>1.- Formar parte del Consorcio y asumir los derechos y obligaciones que genere esta modalidad contractual ante
    las leyes peruanas. Usted será denominado como CONSORCIADO.</p>
    <p>2.- La empresa TRIPLE BK S.A.C., es operadora del consorcio y esta modalidad tendrá un alcance de 11,000 consorciados.
     Para efectos interpretativos, deberá entenderse como <b>CONSORCIADOS</b> a la suma total de hasta 11,000.00 (Once mil) personas
     que ingresen al presente contrato en calidad de <b>CONSORCIADO</b>. Asimismo, cada <b>CONSORCIADO</b>, como parte de la finalidad del
    <b>CONTRATO</b>, podrá recomendar y facilitar el ingreso al mismo a diversas personas naturales que puedan realizar contribuciones
     al presente consorcio, a las cuales TRIPLE BK le pagará una comisión.</p>
    <p><b>TRIPLE BK</b>, como operado, designa como la persona natural a cargo de la responsable ejecución del presente <b>CONTRATO</b> al 
    Señor Juan Alejandro Reverditto Barreda, identificado con DNI N° 08717407, representante legal del mismo, el cual recibirá
    lo siguiente por sus funciones como <b>OPERADOR</b>:</p>
    <ul>
        <li>EL 10% de todas las comisiones que generan LOS CONSORCIADOS</li>
        <li>EL 1% del monto que se transferirá a TRIPLE BK.</li>
        <li>El 1% por el monto que se transferirá a ZOLLA.</li>
    </ul>
    <p>3.- Cada parte realiza por su cuenta y riesgo sus propias actividades.</p>
    <p>4.- Este consorcio se realiza con la intención de otorgar parte de la utilidad que recibirá producto de la ejecución del <b>NEGOCIO</b> a
    otros consorciados a efectos que éste pueda recabar el capital de inversión que el <b>NEGOCIO</b> se encuentra necesitando para entrar a las
    etapas de estudio de factibilidad y diseño de estructura de transporte de carga de pasajeros del desarrollo mismo del <b>NEGOCIO</b>.</p>
    <p>5.- El <b>CONSORCIADO</b> es una persona natural, la cual tiene el interés de contribuir al presente consorcio, bienes muebles dinerarios a efectos
     de participar dentro de los beneficios del <b>CONSORCIO</b>.</p>
    <h2>DECLARACIONES Y GARANTÍAS DE LAS PARTES:</h2>
    <p>6.- Ser entidades que cuentan con la capacidad legal suficiente para celebrar y cumplir con todas las obligaciones que se deriven de este <b>CONTRATO</b>.
    A estos efectos, declaran haber realizado todos los actos necesarios, incluidos las autorizaciones de los órganos societarios correspondientes, para 
    autorizar la celebración, cumplimiento y ejecución del presente <b>CONTRATO</b>, de conformidad con todas las estipulaciones contenidas en este documento y 
    que las personas que lo suscriben en su representación han sido facultadas e informadas de manera suficiente para ello.</p> 
    <p>7.- Que no violarán ningún otro contrato o acuerdo al celebrar o ejecutar este instrumento y que todos los términos y condiciones acordados en él, son
    válidos y, por lo tanto, de obligatorio cumplimiento para <b>LAS PARTES</b>.</p>
    <p>8.- Conforme el contenido del artículo 1362° del código civil, <b>LAS PARTES</b> declaran que ha mediado la buena fe durante la negociación, celebración del
    presente <b>CONTRATO</b>.</p>
    <p>9.- Para la correcta ejecución del presente <b>CONTRATO</b>, <b>LAS PARTES</b> se obligan a la ejecución del deber de colaboración mutua, lo cual implica que cada <b>PARTE</b> se
    encontrará obligada realizar todas y cada una de las actividades vinculadas y/o complementarias a las antes descritas, sin limitación alguna, debiéndose
    entender la relación antes detallada tiene fines meramente enunciativos, mas no limitativos.  El no respeto del deber de colaboración será considerado como el
    quebrantamiento del principio de buena fe, así como un evento de incumplimiento que podrá ser atribuido por la parte afectada por la referida conducta.</p>
    <h2>OBJETO DEL PROYECTO:</h2>
    <p>10.- Por medio del presente <b>CONTRATO</b>, <b>LAS PARTES</b> acuerdan sumar esfuerzos a efectos de poder obtener el capital de inversión ascendiente a US$ _______ millones a efectos de que el 
    NEGOCIO sea plenamente viable. Para estos efectos, TRIPLE BK será el encargado de realizar la administración de la gestión de las contribuciones del presente contrato.</p>
    <p>11.- Asimismo, las PARTES acuerdan que cada una de ellas se obliga a cumplir con la ejecución de las contribuciones que hayan efectuado en virtud del presente <b>CONTRATO</b>.</p>
    <h2>VIGENCIA DEL CONTRATO:</h2>
    <p>12.- El presente <b>CONTRATO</b> tendrá vigencia de treinta y cinco (35) meses contados a partir de la fecha de suscripción del presente instrumento por las <b>PARTES</b>. No obstante,
     el <b>CONSORCIADO</b> le otorga las facultades suficientes a TRIPLE BK a efectos que el presente <b>CONTRATO</b> pueda ser renovado en el plazo de 100 años a la renovación del presente, 
     bastando para dichos efectos una comunicación por escrito por parte de <b>TRIPLE BK</b> a <b>LOS CONSORCIADOS</b> de su voluntad de efectuar tal renovación.</p>
    <h2>CONTRIBUCIONES AL CONSORCIO:</h2>
    <p>13.- El <b>CONSORCIADO</b> deberá realizar una inscripción -en general- de $10.00 (diez dólares) para ingresar al Proyecto.</p>
    <p>14.- <b>CONTRIBUCION AL CONTADO: EL CONSORCIADO</b> realizará una contribución en efectivo -denominada al contado- de US$3,696.00 (Tres mil seiscientos noventa y seis con 00/100 dólares americanos).
     Asimismo, EL <b>CONSORCIADO</b> realizará sus mejores esfuerzos en poder referir nuevos consorciados que se incorporen al presente <b>CONTRATO</b>, a efectos de poder recaudar el monto de capital de inversión
     necesario para la ejecución del <b>NEGOCIO</b>.</p>
     <p>15.- <b>CONTRIBUCION EN CUOTAS: EL CONSORCIADO</b> podrá realizar una contribución en efectivo –denominada en cuotas- de $33.3(Treinta y tres con 00/100 dólares americanos) y abonar por el plazo de 120 meses las
     cuotas correspondientes, hasta completar el monto de $3,996 (Tres mil novecientos noventa y seis con 00/100 dólares americanos). Sin embargo, es posible solicitar abonar en menos cuotas, incrementando el monto
     de aporte mensual, siempre y cuando se establezca el monto específico de la cuota y se firme un compromiso de pago con <b>SKYWAY</b>. </p>
    <h2>BENEFICIOS A FAVOR DE LOS CONSORCIADOS:</h2>
    <h3>BENEFICIOS DE LA MODALIDAD DE CONTRIBUCIÓN AL CONTADO.-</h3>
    <p><b>Derechos sobre un lote de 100m2:</b></p>
    <p>16.- Los derechos sobre un lote de terreno de 100mt2 dentro de la lotización “Single Home”, de la ampliación del proyecto inmobiliario “Nueva Lima” de propiedad de la Corporación Zolla S.A.C, con quien <b>TRIPLE BK</b> ha
     celebrado la <b>COLABORACIÓN</b> y un mandato con representación. Dichos lotes tendrán que sujetarse al Reglamento Interno y de Construcción del proyecto inmobiliario y no podrán ser acumulables. La referida entrega será
     efectuada en un convenio de colocación, el cual tendrá la calidad de anexo al presente <b>CONTRATO</b>.</p>
    <p>17.- El <b>CONSORCIADO</b> no se encuentra limitado a la obtención de los derechos expectaticios de un solo lote, pudiendo recibir más de uno sujeto a la condición de realizar el aporte de la contribución optada y celebrar
     un nuevo contrato.</p>
    <h3>Comisión por referidos:</h3>
    <p>18.- El pago de una comisión que será efectuado a cada Consorciado que se encargue de referir nuevos consorciados que realicen sus contribuciones acordes al presente Contrato. En relación a las comisiones mencionadas en la
    cláusula sexta del presente <b>CONTRATO</b>, éstas obedecerán las siguientes reglas:</p>
    <ul>
        <li><b>Modalidad al Contado: EL CONSORCIADO</b> recibirá la comisión ascendente a $1,032.00 (Mil treinta y dos con 00/100 dólares americanos) dentro de los 30 días calendarios posteriores al pago total del nuevo consorciado
        -disminuyendo los impuestos de ley-, que será entregado por intermedio del aplicativo de la empresa Triple BK S.A.C. Asimismo, de esta comisión será descontado el 10%, cantidad que será destinada a Triple BK S.A.C. por el 
        concepto de administración.</li>
        <li><b>Modalidad en Cuotas: EL CONSORCIADO</b> recibirá la comisión ascendente a $11.1 (Once con 00/100 dólares americanos) dentro de los 30 días calendarios -disminuyendo los impuestos de ley- posteriores al pago de la cuota
        del mes del nuevo consorciado, que será entregado por intermedio del aplicativo de la empresa Triple BK S.A.C. Asimismo, de esta comisión será descontado el 10%, cantidad que será destinada a Triple BK S.A.C. por el concepto
        de administración.</li>
    </ul>
    <p>El pago de ambas comisiones será a través del presente aplicativo, en ese sentido, se tendrá por abonado el pago, con la emisión de la factura de <b>LOS CONSORCIADOS</b> por el pago de esta comisión. Asimismo, detallamos que a la
    tarjeta de débito vinculada al aplicativo será destinado el pago, siendo de responsabilidad de <b>EL CONSORCIADO</b> de comunicar en caso de robo o pérdida, de lo contrario <b>EL CONSORCIADO</b> asume la responsabilidad y no podrá 
    emitir reclamo alguno.</p>
    <p>Cabe detallar que EL CONSORCIADO asume los costos de transferencias de la plataforma de pago de <b>EL OPERADOR</b>.</p>
    <p>Las comisiones generadas en razón a la inscripción de cada referido, por el monto de $5 (cinco dólares) serán abonadas a dentro de los 30 días calendarios – disminuyendo impuestos de ley.</p>
    <p>Las comisiones – en general- estarán sujetas a la entrega del comprobante de pago (factura) como persona natural con negocio. De lo contrario, las comisiones no podrán ser entregadas.</p>
    <p>Las comisiones solo serán entregadas en caso que <b>EL CONSORCIADO</b> cumpla con el pago total de su contribución, de incumplir esta condición, <b>EL CONSORCIADO</b> perdería dicho beneficio; por tanto, <b>TRIPLE BK</b> no tendría la obligación
     de entregar comisión alguna. Cabe resaltar que <b>EL CONSORCIADO</b> recibirá la comisión que genere por referir consorciados de forma posterior a su inscripción y abono total de su contribución al contado.</p>
    <p>El monto ascendente a $1032 y $5 dólares detallados son montos brutos, los cuales serán sujetos de descuento de impuestos de ley (12%), pasarela de pagos (5.4%) y por servicio de administración de fondos del consorcio a Triple BK (10%).</p>
    <h3>BENEFICIOS DE LA MODALIDAD DE CONTRIBUCIÓN EN CUOTAS.-</h3>
    <p><b>Derechos sobre un lote de 100m2:</b></p>
    <p>19.- Los derechos sobre un lote de terreno de 100mt2, el cual podría corresponder a la lotización “Single Home”, o de alguna otra lotización de la ampliación del proyecto inmobiliario “Nueva Lima” de propiedad de la Corporación Zolla S.A o
     dentro de alguno de los proyectos inmobiliarios de las Nuevas Ciudades. Dichos lotes tendrán que sujetarse al Reglamento Interno y de Construcción del proyecto inmobiliario y no podrán ser acumulables. Dicha entrega quedará supeditada a la 
     condición que el CONSORCIADO cumpla con el total del abono de la modalidad de contribución en cuotas y el plazo de entrega del lote será determinado al cumplir con el abono total de las cuotas, cuyos plazos no excederían entre 3 a 5 años 
     posteriores a la culminación del abono final (en caso de las 120 cuotas). Asimismo, el contrato de colocación de su lote será entregado dentro de los 5 días hábiles posteriores a la culminación de la cuota total de su contribución.</p>
    <p>20.- El <b>CONSORCIADO</b> no se encuentra limitado a la obtención de los derechos expectaticios de un solo lote, pudiendo recibir más de uno sujeto a la condición de realizar el aporte de la contribución optada y celebrar un nuevo contrato.</p>
    <p><b>Comisión por referidos</b></p>
    <p>21.- El pago de una comisión que será efectuado a cada Consorciado que se encargue de referir nuevos consorciados que realicen sus contribuciones acordes al presente Contrato. En relación a las comisiones mencionadas en la cláusula sexta del presente
     <b>CONTRATO</b>, éstas obedecerán las siguientes reglas:</p>
    <ul>
        <li><b>Modalidad al Contado: EL CONSORCIADO</b> recibirá la comisión ascendente a $1,032.00 (Mil treinta y dos con 00/100 dólares americanos) dentro de los 30 días calendarios posteriores al pago total del nuevo consorciado -disminuyendo los impuestos
        de ley-, que será entregado por intermedio del aplicativo de la empresa Triple BK S.A.C. Asimismo, de esta comisión será descontado el 10%, cantidad que será destinada a Triple BK S.A.C. por el concepto de administración.</li>
        <li><b>Modalidad en Cuotas: EL CONSORCIADO</b> recibirá la comisión ascendente a $11.1 (Once con 00/100 dólares americanos) dentro de los 30 días calendarios -disminuyendo los impuestos de ley- posteriores al pago de la cuota del mes del nuevo consorciado,
        que será entregado por intermedio del aplicativo de la empresa Triple BK S.A.C. Asimismo, de esta comisión será descontado el 10%, cantidad que será destinada a Triple BK S.A.C. por el concepto de administración.</li>
    </ul>´
    <p>El pago de ambas comisiones será a través del presente aplicativo, en ese sentido, se tendrá por abonado el pago, con la emisión de la factura de <b>LOS CONSORCIADOS</b> por el pago de esta comisión. Asimismo, detallamos que a la tarjeta de débito vinculada al
    aplicativo será destinado el pago, siendo de responsabilidad de <b>EL CONSORCIADO</b> de comunicar en caso de robo o pérdida, de lo contrario <b>EL CONSORCIADO</b> asume la responsabilidad y no podrá emitir reclamo alguno.</p>
    <p>Cabe detallar que <b>EL CONSORCIADO</b> asume los costos de transferencias de la plataforma de pago de <b>EL OPERADOR</b>.</p>
    <p>Las comisiones generadas en razón a la inscripción de cada referido, por el monto de $5 (cinco dólares) serán abonadas a dentro de los 30 días calendarios – disminuyendo impuestos de ley.</p>
    <p>Las comisiones – en general- estarán sujetas a la entrega del comprobante de pago (factura) como persona natural con negocio. De lo contrario, las comisiones no podrán ser entregadas.</p>
    <p>Las comisiones solo serán entregadas en caso que <b>EL CONSORCIADO</b> cumpla con el pago total de su contribución, de incumplir esta condición, <b>EL CONSORCIADO</b> perdería dicho beneficio; por tanto, <b>TRIPLE BK</b> no tendría la obligación de entregar comisión alguna. Cabe resaltar
    que <b>EL CONSORCIADO</b> recibirá la comisión que genere por referir consorciados de forma posterior a su inscripción y abono total de su contribución al contado.</p>
    <p>El monto ascendente a $1032 y $5 dólares detallados son montos brutos, los cuales serán sujetos de descuento de impuestos de ley (12%), pasarela de pagos (5.4%) y por servicio de administración de fondos del consorcio a Triple BK (10%).</p>
    <h3>DE LA ORGANIZACIÓN INTERNA DEL CONTRATO:</h3>
    <p>22.- <b>LAS PARTES</b> declaran que el desarrollo y la ejecución de las actividades del <b>CONTRATO</b> se harán en comunicación y coordinación continua y permanente entre las mismas.</p>
    <p>23.- <b>LAS PARTES</b> acuerdan crear los órganos extra societarios denominados: a) <b>“EL OPERADOR”</b> y b) <b>“LA ASAMBLEA GENERAL DE CONSORCIADOS”</b>.</p>
    <p>24.- El régimen de poderes que podrán ejecutar <b>EL OPERADOR</b>, serán las siguientes y deberán ser interpretadas del mismo modo que las facultades que ostenta un gerente general en una sociedad, conforme lo señalado en la Ley General de Sociedades:</p>
    <p>24.1. 	FACULTADES DE REPRESENTACIÓN:</p>
    <ul>
        <li>24.1.1.	Representar al consorcio en relación con todo tipo de entidades privadas, tanto físicas como jurídicas, por empresas, asociaciones, fundaciones, cooperativas, comunidades campesinas, comunidades nativas, constituidas ya sea por derecho público o privado, o de cualquier otro
        tipo sin limitación alguna.</li>
        <li>24.1.2. Representar a la empresa a nivel nacional ante cualquier tipo de  institución nacional, ya sea política, administrativa, tributaria, aduanera, municipal, judicial, fiscal o policial, contando para estos efectos con las facultades generales del mandato y las señaladas en los
        artículos 74 ° , 75 ° y 436 ° del código de procesal civil peruano, así como en los artículos 52 ° y 115 ° de la ley de procedimiento administrativo general, y otras normas relacionadas y complementarias, ante cualquier tipo de autoridad peruana sin ninguna limitación.</li>
    </ul>
    <p>24.2. 	FACULTADES BANCARIAS:</p>
    <ul>
        <li>24.2.1. Realizar cualquier tipo de operación bancaria, inclusive de apertura, retiro y/o cierre de cuentas corrientes, cuentas a plazo, cuentas de ahorro, cuentas de custodia y/o deposito, depositar o retirar fondos,  girar contra las cuentas, solicitar sobregiros; solicitar y abrir 
        cartas de crédito, solicitar y contratar fianzas, celebrar contratos de arrendamiento financiero o leasing, leaseback, factoring y/o underwriting, observar estados de cuenta corriente, así como, solicitar información sobre operaciones realizadas en cuentas y/o depósitos del consorcio.</li>
        <li>24.2.2. Girar cheques, ya sea sobre saldos deudores o acreedores, cobrar y endosar cheques. Para abono en cuenta del presente consorcio o a terceros.</li>
        <li>24.2.3. Girar, emitir, aceptar, endosar, cobrar, avalar, afianzar, renovar, prorrogar y/o descontar letras de cambio, vales y pagares, facturas conformadas y cualquier otro título valor.</li>
        <li>24.2.4. Ordenar pagos y otorgar recibos y cancelaciones en nombre del consorcio.</li>
        <li>24.2.5. Celebrar contrato de préstamo o cualquier otro contrato que implique una operación financiera a favor del consorcio.</li>
        <li>24.2.6. Haga transferencias, haga cargos y créditos en cuentas, haga pagos de transferencias y otorgue cancelaciones y recibos.</li>
        <li>24.2.7. Ordene a un banco y / o entidad financiera pagar las cuentas del presente consorcio por las sumas correspondientes a los créditos aprobados, parcial o totalmente, así como la disposición total del crédito al que el consorcio tiene derecho.</li>
        <li>24.2.8. Realice cualquier tipo de depósito en entidades financieras a nombre del consorcio.</li>
        <li>24.2.9. Realizar pagos de las obligaciones de la empresa, incluido para estos fines el pago de cualquier tipo de servicios que la empresa realice, y el pago de impuestos en el Perú.</li>
        <li>24.2.10. Entregar y retirar cualquier tipo de valores que estén bajo la custodia de cualquier entidad financiera.</li>
        <li>24.2.11. En general, actúa ante las instituciones del sistema financiero nacional e internacional, sin ninguna limitación.</li>
    </ul>
    <p>24.3. FACULTADES CONTRACTUALES</p>
    <ul>
        <li>24.3.1. Comprar, adquirir, vender, donar, alquilar, gravar, hipotecar o disponer de cualquier forma los activos y propiedades que la Compañía posea, siempre que dichos actos se consideren necesarios para llevar a cabo el propósito del presente consorcio.</li>
        <li>24.3.2. Celebre todo tipo de contratos de respecto a bienes muebles, tales como compra-venta, permuta, arrendamiento, transferencia de propiedad, mutuo, préstamo, suministro, así como todo tipo de contratos en general, tales como contratos asociativos y
         contratos de seguros, así como contratos bajo cualquier forma, depósito, transporte, comisión, distribución, agencia, licencia, representación comercial, comisión comercial, prestación de servicios, trabajo, mandato, alquiler de servicios, aceptar garantías y 
         otros contratos, acuerdos y contratos civiles, comerciales, administrativos, acuerdos laborales, tributarios, patrimoniales y no patrimoniales, sin ninguna limitación, así como cualquier otro contrato, ya sea nominado o no, típico o atípico, pudiendo otorgar los
         instrumentos respectivos, ya sean públicos o privados.</li>
    </ul>
    <p>25.- Cabe precisar que, con la suscripción del presente <b>CONTRATO</b> cada <b>CONSORCIADO</b> que ingrese al presente contrato, otorga en este acto las facultades y poderes necesarios e irrevocables a efectos que <b>TRIPLE BK</b> pueda representarlos con voz y voto ante la Asamblea
     General de Consorciados. </p>
    <h2>ASAMBLEA GENERAL DE CONSORCIADOS.-</h2>
    <p>26.- La Asamblea General de Consorciados se encontrará conformado por <b>LOS CONSORCIADOS</b> y <b>TRIPLE BK</b>. En la primera sesión de la Asamblea General se nombrará a un presidente la Asamblea General de Consorciados.  En ese sentido, la Asamblea General de Consorciados 
    constituye el órgano supremo del presente contrato, por lo tanto, tendrá todas y cada una de las atribuciones necesarias para poder decidir la gestión y ejecución del presente consorcio, sin encontrarse limitado en forma alguna. En tal sentido, todo acuerdo que se arribe ante la
    Asamblea General de Consorciados, tendrá un efecto directo respecto de la interpretación y ejecución del presente <b>CONTRATO</b>.</p>
    <p>En lo que corresponde a la adopción de acuerdos, se deja constancia que se aplicaran las siguientes reglas: </p>
    <p>27.- <b>Cómputo:</b>  Se precisa que, para efectos de realizar el cómputo tanto de quorum como para la adopción de acuerdos del presente <b>CONTRATO</b>, se efectuará el cómputo en razón al derecho de participación de utilidades que tenga cada persona en el presente <b>CONTRATO</b> y no en razón
    a la cantidad de personas que participen en el presente consorcio. A manera de ejemplo, si una persona ostenta el 51% del derecho de participación de las utilidades, dicho porcentaje también significará que tiene el 51% de participación para efectos del cómputo del quorum, así 
    como para la adopción de decisiones en la Asamblea General de Consorciados.</p>
    <p>28.- <b>Quorum:</b> Para cada Asamblea de Consorciados, se deberá de comunicar a cada una de <b>LAS PARTES</b> mediante una comunicación electrónica, con una anticipación no menor a 7(siete) días naturales. No obstante, cuando la sesión de asamblea sea solicitada por una <b>PARTE</b> que tenga como mínimo el 70% de
    la participación en las utilidades, se prescindirá de efectuar tal convocatoria, siempre que lo solicite el convocante. </p>
    <p>En ese sentido, para efectos que la Asamblea de Consorciados sea válidamente constituida se necesitará que cuando menos se encuentre presente las personas que representen un 70% de la participación en las utilidades del <b>NEGOCIO</b>, caso contrario, la Asamblea carecerá de quorum y no se podrá sesionar. </p>
    <p>29.- <b>Adopción de acuerdos</b>: Las decisiones serán adoptadas por el conjunto de personas que representen cuando menos el 70% de la participación en las utilidades del <b>NEGOCIO</b>. </p>
    <h2>DISTRIBUCIÓN DE UTILIDADES INGRESOS Y GASTOS</h2>
    <p>30.- Atendiendo a la naturaleza especial de las contribuciones y al ejercicio de la libertad de contratar de las <b>PARTES</b>, ellas pactan de manera libre y voluntaria que la participación de las utilidades que se generen será en función al porcentaje de utilidades que reciba <b>TRIPLE BK</b> en el contrato de <b>COLABORACIÓN</b>,
    el cual se definirá con el inicio de la ejecución del contrato de <b>COLABORACIÓN</b>. </p>
    <p>En ese sentido, la distribución de las utilidades que generen el NEGOCIO, será repartido en la siguiente forma:</p>
    <ul>
        <li>TRIPLE BK, tendrá derecho a participar en las utilidades del <b>NEGOCIO en un 99.83%</b>.</li>
        <li><b>LOS CONSORCIADOS</b>, tendrán un derecho a participar en las utilidades del <b>NEGOCIO</b> en un 0.17%.</li>
    </ul>
    <p>Sobre <b>LOS CONSORCIADOS</b>, teniendo en consideración que esta parte representa 11,000 <b>CONSORCIADOS</b>, la distribución de utilidades para cada <b>CONSORCIADO</b> será efectuada teniendo en consideración lo siguiente:</p>
    <ul>
        <li>1.	Se determinará el número total de CONSORCIADOS participantes en el contrato.</li>
        <li>2.	El conjunto de todos los <b>CONSORCIADOS</b> participaran en las utilidades del presente consorcio de forma a prorrata y en igual proporción. Es decir, cada CONSORCIADO recibirá la misma utilidad.</li>
        <li>3.	Teniendo en consideración lo anterior, cada consorciado se llevará como utilidad el resultado de aplicar la división del monto total de la utilidad acumulada que represente el 0.17% del negocio, entre la cantidad total de consorciados. </li>
    </ul>
    <p><b>LOS CONSORCIADOS</b> participarán del 0.17% de la utilidad acumulada del negocio por el plazo que tenga validez este contrato y sus consecuentes renovaciones, si es que la hubieran.</p>
    <p>31.- Cabe detallar que, el margen de las utilidades que establece el negocio dentro del presente <b>CONSORCIO</b>, los accionistas de TRIPLE BK cederán el 10.83% de la utilidad neta que reciban a <b> LOS CONSORCIADOS</b>, lo cual será ingreso inafecto.</p>
    <p>32.- Entiéndase que las utilidades serán repartidas anualmente, a partir del inicio de operación del sistema de interconexión, con posterioridad al cierre del ejercicio, dentro de las fechas que serán comunicadas a <b>LOS CONSORCIADOS</b>.</p>
    <h2>RESPONSABILIDAD FRENTE A TERCEROS, PROPIEDAD DE BIENES APORTADOS, FISCALIZACIÓN Y TRIBUTACIÓN. -</h2>
    <p>33.- De acuerdo a la naturaleza de este <b>CONTRATO, LAS PARTES</b> frente a los terceros responderán en forma particular, con quienes hubiesen contraído obligaciones o adquiridos créditos. No existe entre <b>LAS PARTES</b> responsabilidad solidaria frente a terceros,
    por las obligaciones asumidas por cualquiera de ellos.</p>
    <p>34.- Para efectos tributarios, <b>LAS PARTES</b> convienen que el <b>CONTRATO</b> no tendrá una contabilidad independiente. En consecuencia, las <b>PARTES</b> deberán llevar su propia contabilidad, en cada una de sus entidades. Asimismo, se deja constancia que será responsabilidad del 
    <b>OPERADOR</b> la de atribuir los ingresos generados a cada <b>PARTE</b> producto la ejecución de actividades asociadas al presente contrato. En ese sentido, dicha atribución de ingresos se realizará tomando en consideración los siguientes aspectos en el siguiente orden de prelación:</p>
    <ul>
        <li>34.1.	Una vez que el <b>OPERADOR</b> haya efectuado la liquidación integra de gastos    realizados por ambas <b>PARTES</b> en su conjunto; y,</li>
        <li>34.2.	Liquidado los referidos gastos, el <b>OPERADOR</b> procederá a atribuir los ingresos a cada parte interviniente del presente <b>CONTRATO</b>, en función a los porcentajes indicados en la cláusula novena. </li>
        <li>34.3.	Estas reglas de atribución serán efectuadas de forma periódica, debiendo el <b>OPERADOR</b> emitir el comprobante de pago respectivo producto de la referida atribución de ingresos.</li>
    </ul>
    <h2>PARÁMETROS PUBLICITARIOS Y DE DIFUSIÓN DEL CONSORCIO.-</h2>
    <p>35.- <b>LOS CONSORCIADOS</b> no podrán imprimir, grabar o difundir ningún material sin permiso y aprobación de <b>TRIPLE BK</b>. Toda aprobación por parte de <b>TRIPLE BK</b> respecto al material indicado, deberá ser por escrito y con la firma y sello de la gerencia a cargo, bajo sanción que <b>TRIPLE BK</b> resuelva
     el presente contrato o someterse a penalidad en caso de publicidad engañosa, infractora de los derechos del consumidor o propiedad intelectual (propiedad industrial).</p>
    <p>36.- <b>EL CONSORCIADO</b> deberá sujetarse a los parámetros e instrumentos establecidos por <b>TRIPLE BK</b> con respecto a la difusión del presente proyecto; pactando <b>EL CONSORCIADO</b> que deberá guardar estricto cumplimiento sobre publicaciones que solo <b>TRIPLE BK</b> difunda no debiendo tergiversar la finalidad del presente contrato;
    de lo contrario, será causal de resolución del presente contrato.</p>
    <h2>RESOLUCIÓN DEL CONTRATOS.-</h2>
    <p>37.- <b>LAS PARTES</b> convienen que en caso cualquiera de <b>LAS PARTES</b> incumpliera cualquiera de las obligaciones indicadas en el presente CONTRATO la parte afectada con el incumplimiento podrá resolver el contrato bajo los términos y condiciones indicados en el artículo 1429° del código civil.</p>
    <p>38.- En caso <b>EL CONSORCIADO</b> incumpla con el pago de 3 contribuciones (en caso de ser en cuotas) de forma continua o no <b>TRIPLE BK</b> podrá resolver el contrato de manera unilateral, procediendo a la devolución de la tercera parte de su contribución aportada hasta el momento, previa deducción del 30% por concepto de gastos administrativos,
    el monto será devuelto en un plazo de 90 días calendarios.</p>
    <p>39.- En caso <b>EL CONSORCIADO</b> desista del presente contrato, deberá comunicar vía notarial el mismo, procediendo a la devolución de la tercera parte de su contribución aportada hasta el momento, previa deducción del 30% por concepto de gastos administrativos, el monto será devuelto en un plazo de 90 días calendarios.</p>
    <h2>CONVENIO ARBITRAL. -</h2>
    <p>40.- Todas las controversias que pudieran surgir entre ellas, incluidas las vinculadas al presente contrato, deberán ser resueltas mediante arbitraje de derecho, a través de un procedimiento tramitado de conformidad con el reglamento del Centro de Arbitraje de la Cámara de Comercio de Lima.</p>
    <p>El arbitraje será llevado a cabo en la ciudad de Lima, República de Perú y el idioma oficial será el castellano. La decisión del tribunal arbitral será definitiva e inapelable.</p>
    <p>El arbitraje estará a cargo de 01 (Un) árbitro, quien será elegido de común acuerdo por <b>LAS PARTES</b>, en un plazo máximo de 05 días hábiles de presentada la solicitud arbitral. En caso <b>LAS PARTES</b> no se pudiesen de acuerdo en la elección del árbitro una vez vencido el plazo, el Centro de Arbitraje de la Cámara de Comercio de Lima las sustituirá,
    y designará conforme a su reglamento a un árbitro objetivo e imparcial.</p>
    <p>Los gastos totales del arbitraje serán sufragados por la parte perdedora en el procedimiento arbitral. </p>
    <p>Todo aquello que se encuentra relacionado con el presente convenio arbitral y/o con el arbitraje, que no se encuentre reglamentado por la presente cláusula, se regirá por lo dispuesto por el Decreto Legislativo N° 1071 (Decreto Legislativo que norma el Arbitraje) o la norma que lo sustituya.</p>
    <p>41.- A efectos del arbitraje se tomará en cuenta las siguientes reglas:</p>
    <p><b>LAS PARTES</b> acuerdan que, en relación con cualquier arbitraje que fuese llevado a cabo conforme a esta cláusula, no serán válidas las notificaciones o comunicaciones realizadas por fax u otro medio de telecomunicación electrónico, telemático o de otra clase semejante, aun cuando los datos necesarios hayan sido proporcionados por la parte destinataria
     de la comunicación o notificación, excepto que tales notificaciones o comunicaciones sean autorizadas por dicha parte en forma expresa y por escrito. </p>
    <p>Este convenio arbitral se extiende solamente a <b>LAS PARTES</b> que lo suscriben o cesionarios directos y, por lo tanto, constituye pacto en contrario del artículo 14 del Decreto Legislativo N° 1071. </p>
    <p><b>LAS PARTES</b> pactan en contra de lo establecido en el inciso 4 del artículo 34° del Decreto Legislativo N° 1071 y, por lo tanto, acuerdan que ningún Tribunal Arbitral constituido de conformidad con la presente cláusula podrá ampliar, a su solo criterio, los plazos establecidos para las actuaciones procesales.</p>
    <p>El tribunal arbitral no podrá modificar el lugar del arbitraje ni el idioma del proceso sin consentimiento de <b>LAS PARTES</b>. </p>
    <p>El (los) representante(s) legal(es) de <b>LAS PARTES</b> en el arbitraje no están autorizados para disponer, allanarse, reconocer o transigir sobre los derechos o pretensiones que se discutan en el arbitraje, a menos que tales facultades le(s) hayan sido otorgadas expresamente. </p>
    <h2>JURISDICCIÓN.-</h2>
    <p>42.- <b>LAS PARTES</b> se someten a la competencia de los tribunales y jueces del Distrito Judicial de Lima - Centro para cualquier cuestión vinculada al arbitraje que corresponda ser tramitada judicialmente.</p>
    <h2>DOMICILIO</h2>
    <p>43.- Toda notificación, solicitud o cualquier otra comunicación de carácter legal referida a la vigencia, aplicación y/o aspecto relacionado con la ejecución del presente <b>CONTRATO</b>, deberá ser enviada a las direcciones indicadas en la parte introductoria o a través de correo electrónico de las personas o representantes de cada <b>PARTE</b>. </p>
    <p>44.- Se deja constancia que el intercambio de correos electrónicos indicados anteriormente tendrá los mismos efectos que cualquier comunicación escrita entre <b>LAS PARTES</b>, incluso <b>LAS PARTES</b> deciden que la sola comunicación a través de correo electrónico de la voluntad de resolver en los términos descritos en la cláusula 1429° del código civil,
    será formalidad suficiente para cumplir con cualquier requisito asociado con la esencia de dicha institución jurídica.</p>
    <h2>DISPOSICIONES FINALES.-</h2>
    <p>45.- <b>TRIPLE BK</b> está autorizado expresamente por <b>LAS PARTES</b> para poder ceder su posición contractual a cualquier tercero de su elección respecto del <b>CONTRATO</b>. Para la celebración del contrato de cesión de posición contractual, no necesitará la intervención de LOS CONSORCIADOS. Para estos efectos <b>LOS CONSORCIADOS</b> manifiestan su consentimiento anticipado e
    irrevocable en caso se ejecute la cesión descrita en la presente clausula.</p>
    <p>46.- La invalidez, nulidad o anulabilidad de cualquier cláusula o apartado de este <b>CONTRATO</b> no afectará ni perjudicará la exigibilidad de las restantes cláusulas del mismo. Asimismo, es la intención de las partes sustituir cualquier término, apartado o cláusula inválida, nula, o anulable por una cláusula o apartado válido y exigible en unos términos lo más similares posible a la
    cláusula o apartado inválido, nulo o anulable. </p>
    <p>47.- Por ello, en el supuesto de que cualquier apartado o cláusula del <b>CONTRATO</b> fuera declarada nula o no exigible por un tribunal, juez o autoridad competente, las partes acordarán su sustitución por otra cláusula válida, pero con unos términos y efecto lo más equivalentes posible a los de la cláusula original.</p>
    <p>48.- Se precisa que el <b>OPERADOR</b> se hará cargo de la gestión de cobranza de las contribuciones, así como la administración de los fondos de los mismos. </p>

</ion-content>
<ion-footer>
    <ion-toolbar mode="ios" color="light">
        <ion-buttons slot="start">
            <ion-item lines="none">
                <ion-label>Estoy de acuerdo</ion-label>
                <ion-checkbox mode="md" slot="start" (ionChange)="agreement($event)"></ion-checkbox>
            </ion-item>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="primary" fill="clear" [disabled]="confirm == 0" (click)="done()">De acuerdo<ion-icon color="primary" mode="ios" name="arrow-forward"></ion-icon></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
