ion-toolbar{
    --background: transparent;
}

ion-title{
    padding: 0px;
    font-size: 10px;
    text-decoration: underline;
}

ion-content{
    --background:rgba(255,255,255,0.9);
}

h1{
    text-decoration: underline;
    font-size: 16px;
}

h2{
    text-decoration: underline;
    font-size: 12px;
    text-align: left;
    margin: 5px 10px 5px 10px;
    font-weight: 600;
}

h3{
    font-size: 12px;
    text-align: left;
    margin: 5px 10px 5px 10px;
    font-weight: 600;
}

p{
    text-align: justify;
    font-size: 10px;
    margin: 5px 10px 5px 10px;
}

ul li{
    text-align: justify;
    font-size: 10px;
    margin: 5px 10px 5px 10px;
}

ion-item{
    --background:transparent;

    ion-label{
        font-size: 10px;
    }
}

