<ion-header no-border>
  <ion-toolbar mode="ios" color="tertiary">
      <ion-buttons slot="start">
          <ion-button fill="clear" slot="icon-only" (click)="close()"><ion-icon color="light" name="close"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Pagos realizados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>

      <ion-card *ngFor="let lista of cuotasData; let i=index" class="animated lightSpeedIn">
        <ion-card-header>
          <ion-item lines="none" no-padding (click)="toggleDetail(i)" detail>
            <ion-label>
                <h1><ion-icon color="tertiary" mode="md" name="home"></ion-icon>{{lista.descripcion}}</h1>
                <h1><ion-icon color="tertiary" mode="md" name="cash"></ion-icon>$ {{lista.monto_total}}</h1>
            </ion-label>
          </ion-item>
        </ion-card-header>
        <ion-card-content *ngIf="isDetailShown(i)">
          <h3 class="cuotas" *ngIf="lista.contado == '0' ">Cuotas</h3>
          <h3 class="contado" *ngIf="lista.contado == '1' ">Contado</h3>

          <ion-icon class="desactivado" *ngIf="lista.contrato == '0' " name="document"></ion-icon>
          <ion-icon class="activado" *ngIf="lista.contrato == '1' " name="document"></ion-icon>

          <br>
          <br>

          <h3 class="lote">Nroº Lote: <b>{{lista.nro_lote}}</b></h3>

          <ion-button class="btn-detail" color="tertiary" size="small" fill="clear" (click)="openFDetail(lista.id)">Detalle<ion-icon color="tertiary" slot="end" mode="ios" name="arrow-forward"></ion-icon></ion-button>

        </ion-card-content>  
      </ion-card>

</ion-content>
