ion-title{
    padding: 0px;
    font-size: 16px;
}

@media screen and (orientation: landscape) {
    ion-content {
      width: 100%;
      width:100%;
      transition: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
  }

  @media screen and (orientation: portrait) {
    ion-content{
      width: 100%;
      width:100%;
      transition-duration: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
  }

ion-card{
    margin: 4px;
    border-radius: 15px;
    background: #E1F2F5;
}

ion-card-header{
    padding: 0px;
}

ion-card-content{
    padding: 10px 0px 10px 0px;
    --background: transparent !important;
}

.cuotas{
    color: white;
    background: #0087A7;
    display: inline;
    float: left;
    padding-left: 10px;
    padding-right: 5px;
}

.contado{
    color: white;
    background: #00C3F1;
    display: inline;
    float: left;
    padding-left: 10px;
    padding-right: 5px;
}

.desactivado{
    color: rgba($color: #000000, $alpha: 0.25);
    font-size: 40px;
    float: right;
    padding-right: 10px;
}

.activado{
    color: #0087A7;
    font-size: 40px;
    float: right;
    padding-right: 10px;
}

.lote{
    color: black;
    font-weight: 400;
    float: left;
    padding: 5px 10px 10px 10px;
}

h1{
    font-size: 16px;
}

.btn-detail{
    float: right;
    --padding-end: -10px;
}

ion-icon{
   margin: 0px 10px -1px 10px;
}
