<ion-header no-border>
    <ion-toolbar mode="ios" class="ion-color" [style.background-color]="status">
        <ion-buttons slot="start">
            <ion-button fill="clear" slot="icon-only" (click)="close()"><ion-icon color="light" name="close"></ion-icon></ion-button>
        </ion-buttons>
      <ion-title color="light">DETALLES DE NOTIFICACIÓN</ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content text-center no-padding>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger" size="small">
            <ion-icon color="light" name="trash"></ion-icon>
        </ion-fab-button>
    </ion-fab>  

</ion-content>
