<ion-content text-center no-padding>

  <div class="factura shadow">

      <ion-grid>
          <ion-row style="margin-bottom: 15px;">
              <ion-col size="9" text-left><h4>RESUMEN</h4></ion-col>
              <ion-col size="3">
                <ion-fab>
                    <ion-fab-button class="fabdetail" size="small" color="tertiary" (click)="showDetail()"><ion-icon color="light" mode="ios" [name]="detailIcon"></ion-icon></ion-fab-button>
                </ion-fab>
              </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="8" text-left>GANANCIA POR FACTURAR</ion-col>
            <ion-col size="4" text-right>$ {{ganancia_bruta}}</ion-col>
          </ion-row>

          <div *ngIf=" detail == '1' ">
              <ion-row>
                <ion-col size="5" text-left>FEE 3BK</ion-col>
                <ion-col size="3" text-left>(10%)</ion-col>
                <ion-col size="4" style="color: red; border-bottom: 1.5px solid white;" text-right>($ {{descuento3bk}})</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5"></ion-col>
                <ion-col size="3" text-left>Resta</ion-col>
                <ion-col size="4" text-right>$ {{resta1}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="8" text-left>FEE PASARELA</ion-col>
                <ion-col size="4" style="color: red; border-bottom: 1.5px solid white;" text-right>($ {{descuentopaypal}})</ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="5"></ion-col>
                  <ion-col size="3" text-left>Resta</ion-col>
                  <ion-col size="4" text-right>$ {{resta2}}</ion-col>
              </ion-row>
          </div>

          <ion-row>
            <ion-col size="8" text-left>GANANCIA POR COBRAR</ion-col>
            <ion-col size="4" style="font-weight: 800; " text-right>$ {{ganancia_neta}}</ion-col>
          </ion-row>

        </ion-grid>



  </div>

  <div class="datos-factura shadow">

      <ion-row style="margin-bottom: 15px;">
          <ion-col size="12" text-left><h4>DATOS DE FACTURACIÓN</h4></ion-col>
      </ion-row>

      <ion-item lines="none">
          <ion-input class="input1" type="text" [(ngModel)]="razon_social" name="razon_social" placeholder="Razón Social"></ion-input>
      </ion-item>
  
      <ion-item lines="none">
          <ion-input class="input1" type="tel" maxlength="11" [(ngModel)]="ruc" name="ruc" placeholder="Ingrese Nroº RUC"></ion-input>
      </ion-item>

      <ion-row>
          <ion-col size="5" style="margin-left: 10px; margin-right: -10px;">
                <ion-item lines="none" no-padding>
                    <ion-input class="input1" type="tel" maxlength="5" [(ngModel)]="serie" name="serie" placeholder="Nroº Serie"></ion-input>
                </ion-item>
          </ion-col>
          <ion-col size="7">
                <ion-item lines="none" style="margin-left: 5px;" no-padding>
                    <ion-input class="input1" type="tel" maxlength="6" [(ngModel)]="factura" name="factura" placeholder="Nroº Factura"></ion-input>
                </ion-item>
          </ion-col>
      </ion-row>

      <ion-item lines="none">
          <ion-input class="input1" type="text" [(ngModel)]="filename" name="filename" readonly="true" placeholder="Seleccione archivo..."><ion-button fill="clear" shape="round" (click)="openFile()"><ion-icon color="light" name="document"></ion-icon></ion-button></ion-input>
      </ion-item>

      <ion-item lines="none">
          <ion-icon style="z-index: 3;color: black;min-width: 30px;margin-right: -40px;margin-left: 10px;" name="calendar"></ion-icon>
          <ion-datetime class="input1" placeholder="Fecha de emisión de factura" name="fecha_fac" [(ngModel)]="fecha_fac" displayFormat="DD / MM / YYYY" pickerFormat="DD/MMMM/YYYY" doneText="Listo" cancelText="Cancelar" monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"></ion-datetime>
      </ion-item>

      <ion-item lines="none">
          <ion-input class="input1" type="number" [(ngModel)]="cobrar" name="cobrar" placeholder="Ingrese el monto de su factura..." (ionChange)="validateAmount()"></ion-input>
      </ion-item>

      <p style="color: black; font-size: 11px; margin: -5px 20px 10px 20px; text-align: justify;"><ion-icon style="font-size: 14px;" color="dark" name="information-circle"></ion-icon> Si el monto es mayor de S/700.00 estará sujeto a detracción, el cual es el 10% del monto que va a solicitar</p>
      
  </div>

  <div class="datos-banco shadow">

      <ion-row style="margin-bottom: 15px;">
          <ion-col size="12" text-left><h4>DATOS BANCARIOS</h4></ion-col>
      </ion-row>

      <ion-item lines="none">
          <ion-select class="select1" [(ngModel)]="banco" placeholder="Seleccione Banco" interface="action-sheet">
            <ion-select-option value="1">Scotiabank</ion-select-option>
            <ion-select-option value="2">BCP</ion-select-option>
            <ion-select-option value="3">Interbank</ion-select-option>
            <ion-select-option value="4">BBVA</ion-select-option>
          </ion-select>
      </ion-item> 

      <ion-item lines="none" no-padding style="margin: 10px 0px 10px 10px;">
          <ion-input class="input1" type="tel" placeholder="Ingresar Nroº cuenta" [(ngModel)]="cta" name="cta"></ion-input> 
      </ion-item>

      <h5>Codigo Interbancario (CCI):</h5>
      <ion-item lines="none" no-padding style="margin: 10px 0px 10px 10px;">
          <ion-input class="input-card1" type="tel" maxlength="3" (ionChange)="checkInputEntidad($event.target.value)" [(ngModel)]="entidad"></ion-input>
          <ion-input class="input-card1" type="tel" maxlength="3" (ionChange)="checkInputOficina($event.target.value)" [(ngModel)]="oficina"></ion-input>
          <ion-input class="input-card2" type="tel" maxlength="12" (ionChange)="checkInputNroCuenta($event.target.value)" [(ngModel)]="nro_cuenta"></ion-input>
          <ion-input class="input-card1" type="tel" maxlength="2" (ionChange)="checkInputDC($event.target.value)" [(ngModel)]="dc"></ion-input>
      </ion-item>

      <ion-item lines="none" no-padding style="margin: 10px 0px 10px 10px;">
          <ion-input class="input1" type="tel" placeholder="Ingresar Nroº detracción" [(ngModel)]="nro_detraccion" name="nro_detraccion"></ion-input> 
      </ion-item>

  </div>

  <ion-button class="pagar shadow" shape="round" size="small" (click)="sendPayment()">Enviar<ion-icon mode="ios" color="light" slot="end" name="arrow-forward"></ion-icon></ion-button>

</ion-content>