  ion-header{
    --background: transparent !important;
  }

  @media screen and (orientation: landscape) {
    ion-content {
      width: 100%;
      height: 100%;
      transition: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
  }
  
  @media screen and (orientation: portrait) {
    ion-content{
      width: 100%;
      height: 100%;
      transition-duration: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
  }

  .shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  }

  .factura{

    margin: 10px;
    border: 0.5px solid #f9f9f9;
    padding: 5px;
    border-radius: 15px;
    background: white;

    h4{
      color: black;
      font-size: 18px;
      text-align: center;
      border-bottom: 3px double black;
      display: inline;
    }

    .fabdetail{
      margin-top: -1px;
      width: 25px;
      height: 25px;
    }

    .input1{
      background: #f8feff;
      border-radius: 15px;
      text-align: center;
      max-height: 33px;
      font-size: 14px;
      min-width: 100%;
      border: 1px solid #e9e9e9;  
    }

    ion-col{
      font-size: 14px;
      color: black;
    }
  }

  .datos-factura{

    margin: 10px;
    border: 0.5px solid #f9f9f9;
    padding: 5px;
    border-radius: 15px;
    background: rgba(255,255,255,0.5);

    h4{
      color: black;
      font-size: 18px;
      text-align: center;
      border-bottom: 3px double black;
      display: inline;
    }

    .input1{
      background: #f8feff;
      border-radius: 15px;
      text-align: center;
      max-height: 33px;
      font-size: 14px;
      min-width: 100%;
      border: 1px solid #e9e9e9;
      box-shadow: inset 10px 10px 5px -5px rgba(0,0,0,0.10);
    }
  }

  .datos-banco{
    margin: 10px;
    border: 0.5px solid #f9f9f9;
    padding: 5px;
    border-radius: 15px;
    background: rgba(255,255,255,0.5);

    h4{
      color: black;
      font-size: 18px;
      text-align: center;
      border-bottom: 3px double black;
      display: inline;
    }

    h5{
      color: black;
      font-size: 14px;
      text-align: left;
      margin: 0px 0px -10px 15px;
    }

    .input1{
      background: #f8feff;
      border-radius: 15px;
      text-align: center;
      max-height: 33px;
      font-size: 14px;
      min-width: 100%;
      border: 1px solid #e9e9e9;
      box-shadow: inset 10px 10px 5px -5px rgba(0,0,0,0.10);
    }

    .select1{
      background: #f8feff;
      border-radius: 15px;
      text-align: center;
      max-height: 40px;
      font-size: 14px;
      min-width: 100%;
      border: 1px solid #e9e9e9;
      box-shadow: inset 10px 10px 5px -5px rgba(0,0,0,0.10);
    }

    .input-card1{
      background: #f8feff;
      border-radius: 15px;
      max-width: 18%;
      height: 33px;
      text-align: right;
      margin: 1%;
      font-size: 14px;
      border: 1px solid #e9e9e9;
      box-shadow: inset 10px 10px 5px -5px rgba(0,0,0,0.10);
    }
  
    .input-card2{
      background: #f8feff;
      border-radius: 15px;
      max-width: 50%;
      height: 33px;
      text-align: right;
      margin: 1%;
      font-size: 14px;
      border: 1px solid #e9e9e9;
      box-shadow: inset 10px 10px 5px -5px rgba(0,0,0,0.10);
    }

  }
  
  .info-content{
    overflow-y: scroll;
  }

  ion-item{
    --background: transparent;
    margin-left: -5px;
    margin-right: 0px;
  }

  ion-radio-group ion-label{
    padding-left: 10px;
    color: rgb(248, 234, 234);
  }

  h4{
    color: black;
  }

  .input-file{
    color: black;
    margin-top: 15px;
  }

  ion-segment-button{
    --background: black;
    margin-top: 15px;
    --background-activated: #0087A7;
    --background-checked: #0087A7;
    --color-activated: white;
    --color-checked: white;
    --border: white;
  }

  ion-icon{
    color:  #0087A7;
  }

  ion-button{
    --background: #0087A7;
    color: white;
  }

  ion-fab-button{
    transition: 1s;
  }

  ion-badge{
    margin-bottom: -15px;
    margin-right: -25px;
  }

  ion-input[type=number]:before {
    content: "$";
    margin-left: 20px;
  }

  .pagar{
    margin: 0px 10px 20px 0px;
    float: right;
    border-radius: 25px; 
  }
  