@media screen and (orientation: landscape) {
      ion-content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        width:100%;
        --background: #000000 url('../../assets/images/eleven_bg.jpeg') no-repeat center center / cover ;
      }
    }
    
    @media screen and (orientation: portrait) {
      ion-content{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        width:100%; 
        --background: #000000 url('../../assets/images/eleven_bg.jpeg') no-repeat center center / cover;
      }
}
      
    ion-item{
      --background: transparent !important;
      border: none;
      text-align: left;
      margin-bottom: 10px;
      width: 80%;
      margin: 10px auto 0px auto;
    }
    
    ion-input{
      width: 80%;
      margin: auto;
      border: 1.5px solid white;
      padding-left: 10px;
      padding-right: 10px;
      color: white;
      text-align: center;
      font-size: 14px;
    }

    ion-card{
      

      p{
        text-align: left;
        color: white;
        margin-left: 15%;
        opacity: 0.85;
      }

    }
    
    .btn-login {
      --background: white;
      color:black;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 16px;
    }
    
    .inic{
      font-family: Helvetica;
      text-decoration: underline;
      font-size: 14px;
      color: white;
    }
  
    .bounceInDown {
        -webkit-animation-name: bounceInDown;
        animation-name: bounceInDown;
    }