<ion-content fullscreen text-center no-padding>
    
  <ion-row>
    <ion-col size="1">
      <ion-button class="animated bounceInDown" color="light" fill="clear" (click)="goBack()"><ion-icon mode="md" name="arrow-back" slot="start"></ion-icon></ion-button>
    </ion-col>
    <ion-col size="8">
       
    </ion-col>
    <ion-col size="3">
        <img class="animated infinite rubberBand delay-1s" width="50" height="50" src="../../../assets/images/logo_eleven_white.png">
    </ion-col>
  </ion-row>

    <ion-card class="animated bounceInDown">
      
      <p>Campos Obligatorios (*)</p>
      <ion-item lines="none">
        <ion-input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombres & Apellidos (*)"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input type="number" [(ngModel)]="dni" name="dni" placeholder="Nro. DNI (*)"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input type="text" [(ngModel)]="telefono" name="telefono" placeholder="Celular (*)"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input type="text" [(ngModel)]="correo" name="correo" placeholder="Correo (*)"></ion-input>
      </ion-item> 

      <!-- <ion-item lines="none">
        <ion-label style="text-decoration: underline;" color="light">Términos y condiciones</ion-label>
        <ion-checkbox color="dark" mode="md" slot="start" (ionChange)="agreement($event)"></ion-checkbox>
      </ion-item> -->
       
    </ion-card>

     <br> 
  
     <ion-button [ngClass]="{'animated infinite bounce': correo=='', '':correo !='' }" color="light" size="small" shape="round" [disabled]="nombre == '' || dni == '' || telefono == '' || correo == '' " (click)="registerUser()"> Registrarme </ion-button>
  
     <br>
    
</ion-content>