<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" slot="icon-only" (click)="getbackClose()"><ion-icon mode="md" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>NEGOCIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
      <!--SKYWAY-->
      <!-- <ion-row>
        <ion-col text-center size="12" (click)="goSkyWay('/menu/business/skyway')">
          <div class="circular-logo">
            <img src="../../assets/images/sw_logo.png">
          </div>
        </ion-col>
      </ion-row> -->

      <!--TRIPLE BANK-->
      <ion-row>
          <ion-col text-center size="12" (click)="goPage('/menu/negocio/triplebank')">
            <div class="circular-logo">
              <img src="../../assets/images/tb_logo.png">
            </div>
          </ion-col>
      </ion-row>

      <!--TS-->
      <!-- <ion-row>
            <ion-col text-center size="12">
              <div class="circular-logo">
                <img src="../../assets/images/ts_logo.png">
              </div>
            </ion-col>
      </ion-row> -->
      
    </ion-grid>

</ion-content>
