ion-toolbar{
    opacity: 0.9;
  }
  
  ion-content{
    --background: black;
    opacity: 0.9;
    transition: 1s;
  }
  
  .circular-logo{
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px auto auto auto;
    background: white;
    display: flex;
    justify-content: center;
  }

  .circular-logo:hover{
    background: #999999;
  }
  
  .circular-logo img{
    display: inline;
    margin: 0 auto;
    object-fit: contain;
    max-width: 70%;
  }

  .circular-logo img:hover{
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
  }

  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }