<ion-content text-center no-padding>

  <div class="header">

  <ion-row>
      <ion-col size="2">
          <ion-button fill="clear" (click)="goBack()"><ion-icon mode="md" name="arrow-back"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="10">
        <ion-searchbar color="light" mode="ios" animated="true" placeholder="Buscar por nombre..." [(ngModel)]="searchTerm" (ionChange)="searchList()"></ion-searchbar>
      </ion-col>
  </ion-row>

  </div>

  <div class="lista">
      <ion-row>
        <ion-col class="animated zoomInDown" *ngFor="let cliente of listaClientes; let i=index" size="6">
            <ion-card [ngStyle]="{'background': isDetailShown(i) ? 'rgb(225,242,245)' : 'rgb(255,255,255,0.60)'}">
            <ion-card-header>
              <ion-item lines="none" no-padding (click)="toggleDetail(i)" [ngClass]="{active: isDetailShown(i)}">
                <!-- <ion-avatar slot="start">
                  <ion-img [src]="cliente.foto"></ion-img>
                </ion-avatar> -->
                <ion-label color="tertiary" text-wrap>
                  {{cliente.fullname}} 
                </ion-label>
                <ion-icon mode="md" slot="end" [name]="isDetailShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
              </ion-item>
            </ion-card-header>
            <ion-card-content *ngIf="isDetailShown(i)">
                <ion-item lines="none" no-padding>
                  <ion-label>
                    <ion-icon color="tertiary" name="card" slot="start"></ion-icon>
                    {{cliente.dni}}
                  </ion-label>
                </ion-item>
                <ion-item lines="none" no-padding>
                  <ion-label>
                    <ion-icon color="tertiary" name="call" slot="start"></ion-icon>
                    {{cliente.cellphone}}
                  </ion-label>
                </ion-item>
                <ion-item lines="none" no-padding>
                  <ion-label>
                    <ion-icon color="tertiary" name="at" slot="start"></ion-icon>
                    {{cliente.email}}
                  </ion-label>
                </ion-item>    
            </ion-card-content>
          </ion-card>
          </ion-col>
      </ion-row>
  </div>

</ion-content>

