@media screen and (orientation: landscape) {
    ion-content {
      width: 100%;
      height: 100%;
      --background: url('../../../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
  }
  
  @media screen and (orientation: portrait) {
    ion-content{
      width: 100%;
      height: 100%;
      --background: url('../../../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
  }
  
  ion-row{
    width: 100%;
    margin-top: 15px;
  }

  ion-searchbar{
    background: rgba(225,242,245,0.7);
    border-radius: 20px;
  }

  .lista{
    flex-direction: column;
    overflow-y: scroll;
    height: 75%;
  }

  ion-card{
    border-radius: 15px;
    margin: 2px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);

    p{
      color:  #0087A7;
    }

  }

  ion-item{
    --background: transparent;
  }

  ion-card-header{
    padding: 2px;
    margin: 2px;

    ion-avatar{
        width: 40px;
        height: 40px;
        margin: auto;
        padding-left: 5px;
    }

    ion-label{
      line-height: 1.5em;
      height: 3em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      font-size: 2vh;
    }
  }

  ion-card-content{
    padding: 2px;
    transition: 1s linear !important;

    ion-item{
       padding: 0px 0px 0px 5px;

      ion-icon{
        display: inline-block;
        font-size: 18px;
        margin-bottom: -5px;
      }
  
      ion-label{
        color:  #0087A7;
        display: block;
        text-align: left;
        font-size: 12px;
      }
    }
   
  }

  .footer{
    flex: 1;
    width: 100%;
    height: 150px;
    position: unset;
  }

  ion-icon{
    color:  #0087A7;
  }

  ion-fab-button{
    transition: 1s;
  }