<ion-header>
  <ion-toolbar mode="ios" color="dark">
      <ion-buttons slot="start">
          <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title>EVENTOS</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-segment mode="md" [(ngModel)]="option" (ionChange)="segmentChanged($event)">
      <ion-segment-button mode="md" value="slider">
        <ion-icon name="apps"></ion-icon>
      </ion-segment-button>
      <ion-segment-button mode="md" value="timeline">
        <ion-icon name="time"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <div [ngSwitch]="option">

    <div *ngIf="option == 'slider' "> 
      <ion-slides pager="false" [options]="slideOpts">
        <ion-slide *ngFor="let slide of listaSlides">
          <img [src]="slide.img">
          <ion-label>
            <p>{{slide.titulo}}</p>
            <p>{{slide.descripcion}}</p>
          </ion-label>
        </ion-slide>
      </ion-slides>
    </div>  
  
    <div *ngIf="option == 'timeline' ">  
      <ion-list>
        <ion-item-group>
            <div stlye="timelineBg" *ngFor="let timeline of listaTimeLine">
                <!--***********  item divider  ***********-->
                <ion-item-divider sticky>  <!-- *ngFor GroupTitle for feeds -->
                  <ion-label>
                    <h2>{{timeline.date | date: 'fullDate'}}</h2>
                  </ion-label>
                </ion-item-divider>
      
                <ul class="timeline">
                    <li   *ngFor="let list of  timeline.data">
                      <img src="{{list.logo}}" alt="" class="timeline-thumb pop-in">
                      <div class="timeline-item">
                        <p><strong>{{list.titulo}}</strong></p>
                        <p>{{list.descripcion}}</p>
                        <img data-src="{{list.image}}" class="imageTimeline">
                        <div class="timeline-stats">
                          <ion-icon name="heart"></ion-icon>{{list.likes}}
                          <span class="pos-absolute-right"><ion-icon name="clock"></ion-icon>{{list.time}}</span>
                        </div>
                      </div>
                    </li>
                </ul>
            </div>
        </ion-item-group>
      </ion-list>
    </div>
  </div>

</ion-content>
