<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>MERCHANDISING</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center no-padding>
  
    <ion-grid>
        <ion-row>
          <ion-col *ngFor="let producto of ListaProductos" class="wobble" size="6">
            <ion-card>
              <div class="img-portrait">
               <img class="img-producto" [src]="producto.foto ? producto.foto : '../../../assets/images/no_available.png' ">
              </div>
              <ion-label>
                <p>{{producto.nombre}}</p>
                <h2>S/.{{producto.precio_v}}</h2>
              </ion-label>
              <ion-button color="dark" size="small" (click)="chooseQuantity(producto.id, producto.cantidad, producto.nombre)"><ion-icon color="light" mode="md" name="cart"></ion-icon> Agregar al carrito</ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
