<!--<ion-button color="tertiary" fill="clear" (click)="detail()"><ion-icon color="tertiary" name="clipboard" slot="start"></ion-icon>Detalle</ion-button>-->
<ion-button color="danger" fill="clear" (click)="eliminate()" [disabled]="estado != '1' "><ion-icon color="danger" name="trash" slot="start"></ion-icon>Eliminar</ion-button>
