<ion-card>
  <p style="margin-left: 10px; border-bottom: 1px solid #999999;">Comandos de Voz</p>
  <ion-item *ngFor="let action of listaActions" lines="none">
    <ion-label>> {{action.text}}</ion-label>
  </ion-item>
  <ion-button fill="clear" expand="full"><ion-icon slot="start" mode="ios" name="mic"></ion-icon>Más comandos...</ion-button>
</ion-card>
