<ion-content text-center padding>
  
  <ion-item lines="none">
   <ion-label color="light" position="floating">Nombres</ion-label>
   <ion-input color="light" type="text" [(ngModel)]="nombre" name="nombre"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label color="light" position="floating">Apellidos</ion-label>
    <ion-input color="light" type="text" [(ngModel)]="apellido" name="apellido"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label color="light" position="floating">DNI</ion-label>
    <ion-input color="light" type="number" [(ngModel)]="dni" name="dni"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label color="light" position="floating">Celular</ion-label>
    <ion-input color="light" type="tel" [(ngModel)]="celular" name="celular"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label color="light" position="floating">Correo</ion-label>
    <ion-input color="light" type="email" [(ngModel)]="correo" name="correo"></ion-input>
  </ion-item>  

  <ion-button class="registrar animated infinite pulse" size="small" shape="round" (click)="registerInvitado()" [disabled]="nombre == '' || apellido == '' || dni == '' || celular == '' || correo == '' ">Registrar<ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon></ion-button>

</ion-content>
