ion-content{
  transition: 1s;
}

ion-title{
  color:  #0D9ABB;
}

@media screen and (orientation: landscape) {
  ion-content {
    width: 100%;
    width:100%;
    transition: 1s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    --background: linear-gradient(180deg, rgba(106,189,209,1) 10%, rgba(15,142,172,1) 90%);
  }
}

@media screen and (orientation: portrait) {
  ion-content{
    width: 100%;
    width:100%;
    transition-duration: 1s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    --background: linear-gradient(180deg, rgba(106,189,209,1) 10%, rgba(15,142,172,1) 90%);
  }
}

ion-item{
  --background: transparent !important;
  --border-radius: 10px;
}

ion-button{
  color:  #0D9ABB;
}

.label-floating.sc-ion-label-ios-h, .label-floating.sc-ion-label-md-h{
  color:  #ffffff;
}

ion-input{
  color:  #ffffff;
  border-bottom: 1px solid #ffffff;
}

.registrar{
  --background: #ffffff;
  color: #0D9ABB;
  margin: 25px 0px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  float: right;
}