<ion-header class="big-height" [ngClass]="{'lit-height':selectedOption == 1}" no-border>
  <ion-toolbar mode="ios">
    <ion-title class="animated zoomIn" *ngIf="selectedOption == 1 " color="light">{{SubTitle}}</ion-title>
    <ion-buttons *ngIf="selectedOption == 1 " slot="end" (click)="nonoptionSelected()">
      <ion-button class="animated bounceInDown" fill="clear"><ion-icon color="light" mode="md" name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="animated bounceInDown" *ngIf="selectedOption == 0 " mode="ios" style="--min-height: 100px;">
    <ion-title class="big-title" color="light">
      <ion-label text-wrap>
        <p>Balance General</p>
        <h1>$ {{monto_acumulado}}</h1>
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center no-padding>

  <ion-row>
    <ion-col *ngIf="selectedOption == 0" [ngClass]="{ 'animated flipInY slow' : selectedOption == 0 }" size="6">
      <ion-card class="home-card" (click)="optionSelected(1)">
        <ion-card-header>
          <div class="bg-icon">
            <ion-icon color="light" src="../../../../assets/icon/transfer.svg"></ion-icon>
          </div>
        </ion-card-header>
        <ion-card-content>Historial de Transacciones</ion-card-content>
      </ion-card>
    </ion-col>
    <!-- <ion-col *ngIf="selectedOption == 0" [ngClass]="{ 'animated flipInY slow' : selectedOption == 0 }" size="6">
      <ion-card class="home-card" (click)="optionSelected(2)"> 
        <ion-card-header>
          <div class="bg-icon">
            <ion-icon color="light" src="../../../../assets/icon/piggy-bank.svg"></ion-icon>
          </div>
        </ion-card-header>
        <ion-card-content>Colocar fondos a mi billetera</ion-card-content>
      </ion-card>
    </ion-col> -->
    <ion-col *ngIf="selectedOption == 0" [ngClass]="{ 'animated flipInY slow' : selectedOption == 0 }" size="6">
      <ion-card class="home-card" (click)="optionSelected(3)">
        <ion-card-header>
          <div class="bg-icon">
            <ion-icon color="light" src="../../../../assets/icon/pay_participacion.svg"></ion-icon>
          </div>
        </ion-card-header>
        <ion-card-content>Pagar mi participación</ion-card-content>
      </ion-card>
    </ion-col>
    <!-- <ion-col *ngIf="selectedOption == 0" [ngClass]="{ 'animated flipInY slow' : selectedOption == 0 }" size="6">
        <ion-card class="home-card" (click)="optionSelected(4)">
        <ion-card-header>
          <div class="bg-icon">
            <ion-icon color="light" src="../../../../assets/icon/phone-transfer.svg"></ion-icon>
          </div>
        </ion-card-header>
        <ion-card-content>Transferir a terceros</ion-card-content>
      </ion-card>
    </ion-col> -->
  </ion-row>

  <!-- Historial de transacciones -->

  <div class="animated bounceInDown" *ngIf="optionView == 1">

  <div *ngFor="let data of listaHistorial">

    <div class="historial-header">
      <p>Balance Total</p>
      <h1>$ {{data.saldo}}</h1>
    </div>

    <div *ngFor="let pago of data.data" class="historial-box animated bounceInRight">
      <div [ngStyle]="{'background-color': pago.tipo === '1' ? 'rgb(0, 156, 140)' : 'rgb(255, 99, 71)' }" class="historial-src">
        <ion-item class="item-historial-src" lines="none">
            <ion-icon src="../../../../assets/icon/arrow-left.svg"></ion-icon>
        </ion-item>
      </div>
      <div class="historial-data">
        <ion-item class="item-historial-data" lines="none"> 
          <ion-label text-left text-wrap>
            <p class="title">{{pago.nom_user}}</p>
            <p class="subtitle">{{pago.descripcion}}</p>
          </ion-label>
          <ion-label text-right text-wrap>
              <p *ngIf="pago.tipo === '1' " [ngStyle]="{'color': pago.tipo === '1' ? 'rgb(0, 156, 140)' : 'rgb(255, 99, 71)' }" class="title">+ {{pago.monto}}</p>
              <p *ngIf="pago.tipo !== '1' " [ngStyle]="{'color': pago.tipo === '1' ? 'rgb(0, 156, 140)' : 'rgb(255, 99, 71)' }" class="title">- {{pago.monto}}</p>
            <p class="subtitle">{{pago.fecha}}</p>
          </ion-label>
        </ion-item> 
      </div>
    </div>

    </div>  

  </div>

  <!-- Fondos a mi billetera -->

  <div class="animated bounceInDown" *ngIf="optionView == 2">

      <div class="billetera-header">
          <div class="box-left">
            <ion-item lines="none">
              <ion-label text-center>
                <p>Ganancias 3BK</p>
                <p class="monto"><ion-icon src="../../../../assets/icon/hand.svg"></ion-icon> $ 168.60</p>
              </ion-label>
            </ion-item>
          </div>
          <div class="box-right">
            <ion-item lines="none">
              <ion-label text-center>
                <p>Billetera 3BK</p>
                <p class="monto"><ion-icon src="../../../../assets/icon/hand.svg"></ion-icon> $ 0.00</p>
              </ion-label>
            </ion-item>
          </div>
      </div>

      <!-- <ion-card class="item-options">
        <ion-item lines="none">
            <ion-checkbox color="primary" mode="md" slot="start" [(ngModel)]="masterCheck" [indeterminate]="isIndeterminate" (ionChange)="checkMaster($event)"></ion-checkbox>
            <ion-label>{{allBoxes}}</ion-label>
        </ion-item>
      </ion-card> -->

      <ion-card class="item-options">
        <ion-item text-center lines="none">
          <ion-label>$ {{monto_total}}</ion-label>
        </ion-item>
      </ion-card>
      
        <!-- <ion-row class="billetera-row">
          <ion-col class="billetera-col" *ngFor="let cuota of historialPago; let i=index" size="6">
            <ion-card class="billetera-card">
              <ion-card-header>
                <ion-item lines="none" (click)="toggleDetail(i)" [ngClass]="{active: isDetailShown(i)}"> -->
                    <!-- <ion-avatar slot="end">
                        <img [src]="">
                        <ion-icon slot="end" mode="md" [name]="isDetailShown(i) ? 'arrow-dropup' : 'arrow-dropdown'"></ion-icon>
                    </ion-avatar> -->
                    <!-- <ion-label>{{cuota.descripcion}}</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label><p>$ {{cuota.monto}}</p></ion-label>
                    <ion-checkbox [disabled]="cuota.estado_cobro != 1" mode="md" slot="end" [(ngModel)]="cuota.isChecked" (ionChange)="selectItem($event, cuota.id, cuota.monto)"></ion-checkbox>
                </ion-item>
              </ion-card-header>
              <ion-card-content *ngIf="isDetailShown(i)">
                  <ion-item lines="none" *ngFor="let pago of cuota.pagos">
                    <ion-label>${{pago.ganancia}}</ion-label>
                  </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row> -->
  </div>

    <!-- Pagar participación -->

  <div class="animated bounceInDown" *ngIf="optionView == 3">

    
    <ion-slides pager="true">
      <ion-slide *ngFor="let tag of listaParticipacion; let i = index">
        <ion-card class="participacion-card" (click)="getParticipacionId(tag.id, tag)">
           <p class="tag-option" >{{tag.descripcion}}</p>
        </ion-card>
      </ion-slide>
    </ion-slides>
  
    <ion-card *ngIf="selectedItem != '' " class="pago-restante">
      <ion-card-header>
        <p>Saldo restante</p>
        <p style="font-size: 16px;font-weight: 700;color: red;">{{participacion}}</p>
      </ion-card-header>
      <ion-card-content>
        <p class="monto-restante">$ {{monto_por_pagar}}</p>
        <div class="detalle-card">
          <ion-row>
              <ion-col>
                  <p style="font-size: 16px;font-weight: 700;color: gray;">Monto a pagar</p>
                <!-- <p class="p1">Monto a pagar</p> -->
                <!-- <p class="p1">{{fecha_vence}}</p> -->
              </ion-col>
              <ion-col>
                <p style="font-size: 16px;font-weight: 700;color: gray;">{{monto_a_pagar}}</p>
                <!-- <p class="p2">Último pago realizado</p> -->
                <!-- <p class="p2">{{fecha_ultim_pago}}</p> -->
              </ion-col>
          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>
  
    <div class="checkbox-restante" style="padding: 5px;" *ngIf="selectedItem != '' ">
      <ion-label position="float">Seleccione Nroº de cuotas</ion-label>
      <ion-item lines="none">
        <ion-select interface="action-sheet" (ionChange)="getCuotas($event)">
          <ion-select-option  *ngFor="let cuota of lista_cuotas"  value="{{cuota.val}}">{{ cuota.desc }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    
  <div *ngIf="selectedItem != '' ">
    <ion-item class="checkbox-restante" *ngIf="monto_por_pagar_url == 0" lines="none">
        <p class="help-circle"> * Usted aún no ha realizado el pago de ninguna cuota, tiene la opción de pagar el total por el cual se le cobrará $ 3696.00, en caso optara por la otra opción (pago en cuotas) pagará la suma de $ 3996.00</p>
    </ion-item>
  </div>

  <ion-button class="shadow" *ngIf="selectedItem == '' " color="light" ><ion-icon color="primary" mode="md" name="arrow-up" slot="start"></ion-icon> Selecciona una participación <ion-icon color="primary"   mode="md"  name="arrow-up" slot="end"></ion-icon></ion-button>



<ion-footer no-border>
  <ion-button *ngIf="selectedItem != '' " color="primary" (click)="pagarCuota()"><ion-icon slot="start" src="../../assets/icon/wallet.svg"></ion-icon> Mis ganancias</ion-button>
  
</ion-footer>




  </div>

    <!-- Transferir a terceros -->

  <div class="animated bounceInDown" *ngIf="optionView == 4">

    <div class="transferir-box">
      <ion-item lines="none">
          <ion-label style="text-align: left;">Monto disponible</ion-label>
          <ion-label style="text-align: right;">$ 0.00</ion-label>
      </ion-item>
    </div>

  </div>
  
</ion-content>
