.big-height{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)), url('../../../../assets/images/bg_wallet.png') no-repeat center center/cover;
    height: 220px;
    transition: height 0.3s linear;
    margin-top: -1px;
}

.lit-height{
    background: linear-gradient(rgba(255,255,255,0), rgba(0, 0, 0, 0.2)), url('../../../../assets/images/bg_wallet.png') no-repeat center center/cover;
    height: 44px;
    transition: height 0.3s linear;
    margin-top: -1px;
}

ion-toolbar{
    --background: transparent !important;
}

ion-title{
    padding: 0px;

    ion-label{
        
        p{
            font-size: 3.5vw;
            color: rgba(240,240,240,0.8);
        }

        h1{
            font-size: 12vw;
            font-weight: 600;
        }
    }
}

@media screen and (orientation: landscape) {
    ion-content {
      width: 100%;
      height: 100%;
      transition: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
}

@media screen and (orientation: portrait) {
    ion-content{
      width: 100%;
      height: 100%;
      transition-duration: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
}

.big-title{
    font-size: 11vw;
    padding: 0px;
}

ion-row{
    width: 100%;

    ion-col{

        .home-card{
            background: rgba(80, 120, 210, 0.75);
            height: 120px;
            overflow: hidden;
            box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
            border-radius: 15px;
        
           &:before{
                content: '';
                position: absolute;
                top: -105px;
                left: -70px;
                width: 50px;
                height: 250px;
                background: rgba(255,255,255,0.25);
                transform: rotate(-140deg);
                transition: 0.5s;
           }

            &:hover:before{
                top: 50px;
                left: 250px;
            }

            ion-card-header{
                padding: 10px;

                .bg-icon{
                    width: 45px;
                    height: 45px;
                    background: rgba(255, 255, 255, 0.25);
                    border-radius: 50%;
                    margin: auto;      
                }

                ion-icon{
                    font-size: 6vw;
                    margin: 10px;
                }
            }

            ion-card-content{
                color: white;
                font-size: 3.5vw;
                padding: 0px;
                margin: 5px;
                text-align: center;
            }
        }
    }
}

/*Historial*/

.historial-header{
    background: rgba(255,255,255,0.75);
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.1);

    p{
        margin: 0;
        font-size: 3vw;
        color: black;
    }

    h1{
        margin: 5px;
        font-size: 6vw;
        color: rgb(16,66,149);
        font-weight: 600;
    }
}

.historial-box{
    width: 96%;
    margin: 4%;

    .historial-src{
        width: 20%;
        height: 60px;
        line-height: 60px;
        //background: rgba(0, 156, 140, 1);
        //background: rgba(255, 99, 71, 1);
        display: inline-block;
        margin: 12px auto;
        position: relative;
        border-radius: 5px;
        box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.3);
        float: left;

        .item-historial-src{
            border-radius: 5px;
            --background: transparent !important;

            ion-icon{
                line-height: 60px;
                font-size: 6.5vw;
                vertical-align: middle;
            }
        }
    }   

    .historial-data{
        width: 80%;
        height: 85px;
        background: white;
        display: inline-block;
        margin: auto;
        margin-left: -10%;
        border-radius: 5px;
        box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1);
        position: relative;

        .item-historial-data{
            border-radius: 5px;
            --background: transparent !important;
            --padding-start: 8px;
            height: 85px;
            display: flex;

            .title{
                font-size: 3.5vw;
                font-weight: 600;
                color: black;
            }

            .subtitle{
                font-size: 2.8vw;
                color: gray;
            }    
        }
    }
}

/*Billetera*/

.billetera-header{
    width: 90%;
    background: white;
    height: 70px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
    margin: 10px auto;

    .box-left{
        display: inline-block;
        width: 50%;
        height: 70px;
        background: #C194F3;
    }

    .box-right{
        display: inline-block;
        width: 50%;
        height: 70px;
        background: #80BCF2;
    }

    ion-item{
        --background: transparent !important;
        height: 70px;
    }

    p{
        font-weight: 600;
        font-size: 3vw;
        color: white;
    }

    .monto{
        font-size: 5vw;
    }

    .billetera-row{
        width: 100%;
        margin-top: 15px;
    }
}

.billetera-card{
    width: 90% !important;
    background: linear-gradient(145deg, rgba(234,242,248,0.5) 29%, rgba(191,217,234,0.5) 86%);
    padding: 0px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin: 5px auto;
    border-radius: 20px 0px 20px 0px;
  
    ion-item{
      --padding-start: 8px;
      background: transparent;
  
      ion-avatar{
        margin: 0px;
      }
  
      ion-label{
        font-size: 2.8vw;
        text-transform: uppercase;
        margin: 5px 0px;
  
        p{
          font-size: 5vw;
          color: black;
        }
      }
    }
  }

ion-card-header{
  padding: 0px;
}
    
ion-card-content{
  padding: 0px;
}

.item-options{
    width: 40%;
    display: inline-block;
    margin: 10;
}

/*Transferencias*/

.transferir-box{
    width: 90%;
    height: 80px;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #73E37D, #AAEFF5) 0 0 0 1;
    margin: 5% auto;
    background: rgba(255,255, 255, 0.7);
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.3);
    border-radius: 0px 15px 15px 0px;

    ion-item{
        width: 90% !important;
        margin: 5px;
        
        ion-label{
            font-size: 3.8vw;
        }
    }
}

/* Pagar*/

.participacion-card{
    width: 90%;
    height: 170px;
    --background: url('../../../../assets/images/single_home.jpeg') no-repeat center center / cover;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
    border-radius: 5px;
  
      .tag-option{
        background: rgba(255,255,255, 0.8);
        font-size: 18px;
        font-weight: 650;
        height: 35px;
        line-height: 35px;
      }
  }
  
  .pago-restante{
    width: 90%;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    --background: white;
    margin: auto;
    margin-bottom: 15px;
    padding: 0px;
  
    ion-card-header{
      padding: 0px;
      margin: auto;
  
      p{
        margin: 10px;
      }
    }
  
    ion-card-content{
      padding: 5px;
  
      .monto-restante{
        font-size: 8vw;
        border-bottom: 0.5px solid #F0F0F0;
        margin-bottom: 10px;
      }
  
      .detalle-card{
  
        .p1{
          font-size: 11px;
          color: black;
          font-weight: 500;
          text-align: left;
        }
  
        .p2{
          font-size: 11px;
          color: black;
          font-weight: 500;
          text-align: right;
        }
      }
    }
  }
  
  ion-select{
    min-width: 90%;
    margin: auto;
    text-align: center;
    font-weight: 650;
    border: 1px solid black;
  }
  
  .checkbox-restante{
    width: 90% !important;
    margin: auto;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
    background: white;
  }
  
  .help-circle{
    font-size: 3.5vw;
    text-align: justify;
    margin: 5px 10px 10px 10px;
  }
  
  .shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  