// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~animate.css/animate.min.css';

.pagoAdelantado .modal-wrapper{
  --background: rgb(0,0,0,0.5);
  --border-radius: 10px;
  --width: 80%;
  --height: 40%;
}

.terminosModal .modal-wrapper{
  --background: rgb(255,255,255,0.5);
  --border-radius: 0px;
  --width: 80%;
  --height: 80%;
}

.registerModal .modal-wrapper{
  --background: rgb(0,0,0,0.5);
  --border-radius: 10px;
  --width: 80%;
  --height: 70%;
}

.membresiaModal .modal-wrapper{
    --background: rgb(0,0,0,0.5);
    --border-radius: 10px;
    --width: 90%;
    --height: 85%;
}

.gananciadetailModal .modal-wrapper{
  --background: rgb(0,0,0,0.5);
  --border-radius: 10px;
  --width: 90%;
  --height: 50%;
}

.walletModal .modal-wrapper{
  --background: url('assets/images/bg-home3bk.png');
  --width: 90%;
  --height: 90%;
  --border-radius: 10px;
}

.custom-eleven-loading{
    --background: transparent;
    ion-backdrop {
		background-color: #ffffff;
		opacity: 0.5 !important;
} 

    .loading-wrapper {
      background-image:  url('assets/gif/eleven_loading.gif');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      min-width: 85px;
      min-height: 85px;
      box-shadow: none;
      -webkit-box-shadow: none;
	  }
}

.custom-bk-loading{
  --background: transparent;

  ion-backdrop {
    background-color: white;
    opacity: 0.4 !important;
} 

  .loading-wrapper {
    background-image:  url('assets/gif/bk.gif');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 85px;
    min-height: 85px;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}