<ion-content  class="animated bounceIn" text-center no-padding>

  <div class="header">
    <h1>{{titleEvent}}</h1>
    <p>Faltan <br><br></p>
    <h5>{{days}} días</h5>
  </div>

  <div class="mid-circle">

  </div>

  <div class="options-container">


    <nav class="menu">
      <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
      <label class="menu-open-button" for="menu-open">
       <ion-icon src="../../assets/icon/eleven_icon.svg"></ion-icon>
     </label>
   
      <a class="menu-item border" (click)="goPage('/menu/negocio/triplebank/tabs/tabs/bkhome')"> 
        <!-- 1 -->
        <ion-icon src="../../assets/icon/3bk.svg"></ion-icon>
        <!-- <ion-icon src="../../assets/icon/eleven_icon.svg"></ion-icon> -->
      </a>
      <a  class="menu-item border">
          <ion-icon src="../../assets/icon/chats.svg"></ion-icon>
      </a>
      <a  class="menu-item border">
          <ion-icon src="../../assets/icon/beneficios.svg"></ion-icon>
      </a>
      <a class="menu-item border">
          <ion-icon src="../../assets/icon/proyectos.svg"></ion-icon>
      </a>
      <a class="menu-item border">
          <ion-icon src="../../assets/icon/carrito.svg"></ion-icon>
      </a>
      <a  class="menu-item border">
          <ion-icon src="../../assets/icon/profile.svg"></ion-icon>
      </a>
      

   </nav>

  </div>

  <div class="footer">
    <h1>#Somos el cambio</h1>
  </div>


</ion-content>

