ion-content{
  --background: rgb(245,245,245);
}

.header{
  background: black;
  width: 100% !important;
  height: 320px;
  padding: 30px;

  h1{
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: white;
      font-size: 3rem;
      margin: 0;
  }

  p{ 
      width: 60%;
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: white;
      font-size: 1.8rem;
      border: 1px solid white;
      margin: 10px auto;
  }

  h5{
      width: 50%;
      height: 60px;
      line-height: 60px;
      border-radius: 15px;
      background: #FC8E37;
      color: white;
      font-size: 1.8rem;
      margin: -40px auto;
  }
}

.mid-circle{
  width: 100% !important;
  height: 200px;
  border-radius: 95% 95% 0% 0%;
  background: rgb(245,245,245);
  margin-top: -85px;
}


.menu-item{
 background: #EEEEEE;
 border-radius: 100%;
 width: 70px;
 height: 70px;
 margin-left: -40px;
 position: absolute;
 color: #FFFFFF;
 text-align: center;
 line-height: 80px;
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
 -webkit-transition: -webkit-transform ease-out 200ms;
 transition: -webkit-transform ease-out 200ms;
 transition: transform ease-out 200ms;
 transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}


.menu-open-button {
 background: #EEEEEE;
 border-radius: 100%;
 width: 80px;
 height: 80px;
 margin-left: -40px;
 position: absolute;
 color: #FFFFFF;
 text-align: center;
 line-height: 80px;
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
 -webkit-transition: -webkit-transform ease-out 200ms;
 transition: -webkit-transform ease-out 200ms;
 transition: transform ease-out 200ms;
 transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
 display: none;
}

.menu {
 margin: auto;
 position: absolute;
 top: 150px;
 bottom: 0;
 left: 0;
 right: 0;
 width: 80px;
 height: 80px;
 text-align: center;
 box-sizing: border-box;
 font-size: 26px;
}


.menu-item {
 transition: all 0.1s ease 0s;
} 

.menu-item:hover {
 background: #EEEEEE;
 color: #3290B1;
}

.menu-item:nth-child(3) {
 -webkit-transition-duration: 180ms;
 transition-duration: 180ms;
}

.menu-item:nth-child(4) {
 -webkit-transition-duration: 180ms;
 transition-duration: 180ms;
}

.menu-item:nth-child(5) {
 -webkit-transition-duration: 180ms;
 transition-duration: 180ms;
}

.menu-item:nth-child(6) {
 -webkit-transition-duration: 180ms;
 transition-duration: 180ms;
}

.menu-item:nth-child(7) {
 -webkit-transition-duration: 180ms;
 transition-duration: 180ms;
}

.menu-item:nth-child(8) {
 -webkit-transition-duration: 180ms;
 transition-duration: 180ms;
}

.menu-item:nth-child(9) {
 -webkit-transition-duration: 180ms;
 transition-duration: 180ms;
}

.menu-open-button {
 z-index: 2;
 -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
 transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
 -webkit-transition-duration: 400ms;
 transition-duration: 400ms;
 -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
 transform: scale(1.1, 1.1) translate3d(0, 0, 0);
 cursor: pointer;
 box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
}

ion-icon{
  font-size: 3rem;
  margin: 12px;
}

.menu-open-button:hover {
 -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
 transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
 -webkit-transition-timing-function: linear;
 transition-timing-function: linear;
 -webkit-transition-duration: 200ms;
 transition-duration: 200ms;
 -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
 transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
 -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
 transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
 transition-duration: 180ms;
 -webkit-transition-duration: 180ms;
 -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
 transform: translate3d(0.08361px, -104.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
 transition-duration: 280ms;
 -webkit-transition-duration: 280ms;
 -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
 transform: translate3d(90.9466px, -52.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
 transition-duration: 380ms;
 -webkit-transition-duration: 380ms;
 -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
 transform: translate3d(90.9466px, 52.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
 transition-duration: 480ms;
 -webkit-transition-duration: 480ms;
 -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
 transform: translate3d(0.08361px, 104.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
 transition-duration: 580ms;
 -webkit-transition-duration: 580ms;
 -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
 transform: translate3d(-90.86291px, 52.62064px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(8) {
 transition-duration: 680ms;
 -webkit-transition-duration: 680ms;
 -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
 transform: translate3d(-91.03006px, -52.33095px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(9) {
 transition-duration: 780ms;
 -webkit-transition-duration: 780ms;
 -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
 transform: translate3d(-0.25084px, -104.9997px, 0);
}

.border {
 background: rgb(245,245,245);
 box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
 border: 0.5px solid rgba(0,0,0,0.1);
 border-radius: 50%;
}

.border:hover {
 background: #FC8E37;
}

.credit {
 margin: 24px 20px 120px 0;
 text-align: right;
 color: #EEEEEE;
}

.credit a {
 padding: 8px 0;
 color: #C49CDE;
 text-decoration: none;
 transition: all 0.3s ease 0s;
}

.credit a:hover {
 text-decoration: underline;
}

.footer{
  width: 100% !important;
  bottom: 0;
  position: absolute;

  h1{
      font-size: 5vw;
      text-align: center;
  }
}