<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>LABORAL</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" slot="icon-only" (click)="golaboralProfile()"><ion-icon color="light" mode="ios" name="contact"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-segment mode="md" [(ngModel)]="options" (ionChange)="segmentChanged($event)">
      <ion-segment-button mode="md" value="finder">
        <ion-icon name="search"></ion-icon>
      </ion-segment-button>
      <ion-segment-button mode="md" value="aplyes">
        <ion-icon name="briefcase"></ion-icon>
      </ion-segment-button>
      <ion-segment-button mode="md" value="notification">
        <ion-icon name="notifications"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div [ngSwitch]="options">

    <div *ngIf="options == 'finder' "> 

    </div>
    
    <div *ngIf="options == 'aplyes' "> 

    </div>

    <div *ngIf="options == 'notification' "> 

    </div>
  </div>  
</ion-content>
