<ion-header>
  <ion-toolbar mode="ios" color="tertiary">
    <ion-title>Detalle de ganancia</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()"><ion-icon color="light" name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col size="8">GANANCIA POR FACTURAR</ion-col>
      <ion-col size="4" text-right>${{bruto}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">FEE 3BK</ion-col>
      <ion-col size="3">(10%)</ion-col>
      <ion-col size="4" style="color: red; border-bottom: 1px solid black;" text-right>(${{desc3bk}})</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5"></ion-col>
      <ion-col size="3">Resta</ion-col>
      <ion-col size="4" text-right>$ {{resta1}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">FEE PASARELA</ion-col>
      <ion-col size="4" style="color: red; border-bottom: 1px solid black;" text-right>(${{descpp}})</ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="5"></ion-col>
        <ion-col size="3" text-left>Resta</ion-col>
        <ion-col size="4" text-right>$ {{resta2}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">GANANCIA POR COBRAR</ion-col>
      <ion-col size="4" style="font-weight: 800; " text-right>$ {{neto}}</ion-col>
    </ion-row>

    <br>
    <div style="display: none;">
      <ion-row>
          <ion-col size="12">SIMULADOR DE DETRACCIÓN <ion-button class="helpButton" fill="clear" (click)="howWorks()"><ion-icon color="tertiary" slot="icon-only" name="help-circle"></ion-icon></ion-button></ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="8">Ingrese monto a solicitar</ion-col>
          <ion-col size="4" text-right><ion-input type="number" name="monto_solicitado" [(ngModel)]="monto_solicitado" (ionChange)="setDetraccion()"></ion-input></ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="5">DETRACCIÓN</ion-col>
          <ion-col size="3">(12%)</ion-col>
          <ion-col size="4" style="color: red; border-bottom: 1px solid black;" text-right>$ {{monto_detraccion}}</ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="8">Ingrese monto a solicitar</ion-col>
          <ion-col size="4" text-right>$ {{resta3}}</ion-col>
      </ion-row>
    </div>

  </ion-grid>

</ion-content>
