ion-title{
    padding: 0px;
    font-size: 16px;
}

@media screen and (orientation: landscape) {
    ion-content {
      width: 100%;
      width:100%;
      transition: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
   }
}

@media screen and (orientation: portrait) {
    ion-content{
      width: 100%;
      width:100%;
      transition-duration: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
}

ion-col{
    font-size: 14px;
}

ion-input{
    border-bottom: 1px solid #999999;
}

.helpButton{
    margin: -10px 0px 0px 0px;
}

.sc-ion-input-md-h{
    --padding-top:0px;
    --padding-bottom:0px;
    --padding-end: 5px;
    --pading-start: 5px;
}

ion-input[type=number]:before {
    content: "$";
    margin-left: 0px;
}