ion-title{
    padding: 0px;
    font-size: 16px;
    padding-left: 10px;
    text-align: left;
}

@media screen and (orientation: landscape) {
    ion-content {
      width: 100%;
      width:100%;
      transition: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
  }

  @media screen and (orientation: portrait) {
    ion-content{
      width: 100%;
      width:100%;
      transition-duration: 1s;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      --background: url('../../assets/images/bg-home3bk.png') no-repeat center center / cover ;
    }
}

ion-item{
  --background: transparent !important;
}

ion-row{
  width: 100%;
  margin-top: 15px;
}

ion-card{
  width: 95% !important;
  background: linear-gradient(145deg, rgba(234,242,248,0.5) 29%, rgba(191,217,234,0.5) 86%);
  padding: 0px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  margin: 5px auto;
  border-radius: 20px 0px 20px 0px;

  ion-item{
    --padding-start: 8px;
    background: transparent;

    ion-avatar{
      margin: 0px;
    }

    ion-label{
      font-size: 2.8vw;
      text-transform: uppercase;
      margin: 5px 0px;

      p{
        font-size: 5vw;
        color: black;
      }
    }
  }
}

ion-card-header{
  padding: 0px;
}

ion-card-content{
  padding: 0px;
}


ion-footer{
  ion-toolbar{
    ion-item{
      background: transparent !important;

      ion-input{
        text-align: right;
        max-width: 50%;
        --background: white;
        border-radius: 10px;
        color: black;
        right: 0;
        position: absolute;
      }
    }
  }
}

ion-input[type=number]:before {
  content: "$";
}