<ion-header no-border>
  <ion-toolbar color="tertiary">
    <ion-title mode="md">Selección de montos</ion-title>
    <ion-buttons slot="end">
        <ion-button [disabled]="selectedPagos.length == 0" fill="clear" color="light" (click)="geAmount()">Listo<ion-icon color="light" name="arrow-forward"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  
  <ion-card>
    <ion-item lines="none">
        <ion-checkbox color="primary" mode="md" slot="start" [(ngModel)]="masterCheck" [indeterminate]="isIndeterminate" (ionChange)="checkMaster($event)"></ion-checkbox>
        <ion-label>{{allBoxes}}</ion-label>
    </ion-item>
  </ion-card>

  <!-- <ion-card *ngFor="let cuota of historialPago">
    <ion-item lines="none">
        <ion-checkbox [disabled]="cuota.status == 0" mode="md" slot="start" [(ngModel)]="cuota.isChecked" (ionChange)="select($event, cuota.id, cuota.monto)"></ion-checkbox>
        <ion-label>${{cuota.monto}}</ion-label>
    </ion-item>
  </ion-card> -->
  <ion-row>
    <ion-col *ngFor="let cuota of historialPago; let i=index" size="6">
      <ion-card>
        <ion-card-header>
          <ion-item lines="none" (click)="toggleDetail(i)" [ngClass]="{active: isDetailShown(i)}">
              <!-- <ion-avatar slot="end">
                  <img [src]="">
                  <ion-icon slot="end" mode="md" [name]="isDetailShown(i) ? 'arrow-dropup' : 'arrow-dropdown'"></ion-icon>
              </ion-avatar> -->
              <ion-label>{{cuota.descripcion}}</ion-label>
          </ion-item>
          <ion-item lines="none">
              <ion-label><p>$ {{cuota.monto}}</p></ion-label>
              <ion-checkbox [disabled]="cuota.estado_cobro != 1" mode="md" slot="end" [(ngModel)]="cuota.isChecked" (ionChange)="selectItem($event, cuota.id, cuota.monto)"></ion-checkbox>
          </ion-item>
        </ion-card-header>
        <ion-card-content *ngIf="isDetailShown(i)">
            <ion-item lines="none" *ngFor="let pago of cuota.pagos">
              <ion-label>${{pago.ganancia}}</ion-label>
            </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>

  <ion-footer no-border text-right>
      <ion-toolbar color="dark">
        <ion-item lines="none">
          <ion-label color="light" position="fixed">Total:</ion-label>
          <ion-input color="light" type="number" readonly [(ngModel)]="monto_total" name="monto_total"></ion-input>
        </ion-item>
      </ion-toolbar>
  </ion-footer>
